include ../../_mixin/mixin


-
    var linkName = [
        'Главная',
        'Безопасность'
    ];

    var linkHash = [
        '/', '#'
    ];

    var linkLine = [
        '', ''
    ];

+breadcrumbsMain('breadcrumbs', 'Безопасность')