include ../../_mixin/mixin



-
    var imagePath = [
        './image/security-0.png',
        './image/security-1.png',
        './image/security-2.png',
        './image/security-3.png',
        './image/security-4.png'
    ];

    var contentTitle = [
        'Защищенный канал связи',
        'Надежный поставщик услуг',
        'Персонализация и распределенное хранение',
        'Сервера',
        'Удаление данных пользователей'
    ];

    var objText = {
        0 : [
            'Соединение с пользователем автоматически шифруется с использованием 128-разрядного шифрования. Для аутентификации сообщений используется алгоритм AES (Advanced Encryption Standard), для обмена ключами используется асимметричный алгоритм шифрования RSA (криптографический алгоритм с открытым ключом). Успешная организация шифрованного канала отображается в виде зелёной адресной строки в окне браузера пользователя.'
        ],
        1 : [
            'Идентификационные данные сервиса и компании владельца проверены компанией Comodo Group, Inc., специализирующейся в области Интернет безопасности. По результатам проведённой проверки сервис получил расширенный SSL-сертификат (SSL Extended Validation Certificate).'
        ],
        2 : [
            'В целях обеспечения персонализации и зашифрованного хранения данных, а также ограничения доступа к персональным данным пользователей сервис доступен только зарегистрированным пользователям.'
        ],
        3 : [
            'Сервис Regberry размещён на серверах компании AGAVA (Россия), а это:',
            'высокопроизводительное оборудование;круглосуточная техническая поддержка;',
            'круглосуточная техническая поддержка;',
            'высокая доступность оборудования;',
            'высокая степень конфиденциальности хранимых на серверах данных;',
            'ограниченный доступ сотрудников AGAVA к файлам сервиса;',
            'современная защита от внешних угроз и атак.'
        ],
        4 : [
            'Если пользователь удаляет часть своих данных либо все свои данные, они удаляются полностью и восстановлению не подлежат.'
        ]
    };


section#content.content
    .content-container
        .content-section
            - for(var i = 0; i < 5; i++)
                div(class='block-#{i}')
                    div(class='block-left')
                        img(src= imagePath[i], class='img-responsive')

                    div(class='block-right')
                        p= contentTitle[i]

                        ul.block-list
                            - for(var j = 0; j < objText[i].length; j ++)
                                - var item = objText[i];
                                li: span= item[j]