-var title  = ['Сокращение затрат <br/> на 95%', 'Только актуальные <br/> документы', 'Отсутствие <br/>  ошибок', 'Экономия <br/> времени', 'Автозаполнение <br/> форм', 'Вспомогательные <br/> подсказки', 'Удобный <br/> интерфейс', 'Безопасность личных <br/> данных', 'Хранение <br/> документов'];
-var text   = ['Создавайте документы сами без дополнительных затрат на создание рабочих мест или привлечения специалистов. С сервисом вы экономите 95% затрат на документы.', 'Все документы подготовлены профессиональными регистраторами и юристами в соответствии с требованиями законодательства.', 'Процесс создания документов в нашем сервисе автоматизирован, все документы проверены на юридическое соответствие и отсутствие грамматических ошибок.', 'Даже если Вы никогда не сталкивались с созданием документов, процесс их подготовки в нашей системе займёт у вас не более 15 минут.', 'Для ввода данных, с целью упрощения и минимизации ошибок в системе реализованы механизмы автоподачи адресов, КВЕДов, действующих лиц.', 'Мы стараемся максимально упростить процесс создания документов, для этого в системе созданы информеры, а также примеры заполнения информации в виде подсказок.', 'Интерфейс сервиса был задуман и проектировался в интуитивно понятной форме для любого пользователя с целью минимизации затрат времени и удобства использования.', 'Сервис гарантирует конфиденциальность и сохранность данных, которые передаются исключительно по шифрованным каналам связи.', 'Вы можете хранить документы в сервисе ровно столько, сколько Вам необходимо, при этом мы предоставляем возможность их редактирования.'];


section#uniqueness.uniqueness
    .uniqueness-container
        .uniqueness-row
            - for(var i = 0; i < 9; i++)
                div(class='uniqueness-block-#{i}')
                    span.uniqueness--block-title
                        i(class='icon-#{i}')
                        span.title!= title[i]

                    p= text[i]