include ../../_mixin/mixin


-
    var linkName = [
        'Главная',
        'Политика конфиденциальности'
    ];

    var linkHash = [
        '/', '#'
    ];

    var linkLine = [
        '', ''
    ];

+breadcrumbsMain('breadcrumbs', 'Политика конфиденциальности')