///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";


///
/// VARIABLE BLOCK
///
$width-all              : return-value(dimension, all);

$color-white            : return-value(color, white);
$color-black            : return-value(color, black);
$color-scopeBorder      : return-value(color, scopeBorder);

$image-filter-arrow     : '../../image/idea-all-filter-arrow.png';
$image-filter-0         : '../../image/idea-all-filter-0.png';
$image-filter-1         : '../../image/idea-all-filter-1.png';
$image-filter-2         : '../../image/idea-all-filter-2.png';


///
/// FILTER SECTION
///
section.filter {
  .filter-container{
    @include mixinMaxWidthPosition(10.7, 10, 0, 30, 0);


    .filter-row{
      @include mixinCenteredBLockFlex(row, flex-start, flex-start);


      .select-custom {
        margin-right: render-pixel(10);
        height: render-pixel(39);
        position: relative;
        background-color: $color-scopeBorder;
        text-align: center;
        line-height: 2.3;


        &:first-child{
          width: render-pixel(211);

          .select-value{
            i.before{
              @include mixinDimensions('', render-pixel(16), render-pixel(15));
              background: url($image-filter-0) no-repeat left;
            }
          }
        }

        &:nth-child(2){
          width: render-pixel(305);

          .select-value{
            i.before{
              @include mixinDimensions('', render-pixel(17));
              background: url($image-filter-1) no-repeat left;
            }
          }
        }

        &:last-child{
          width: render-pixel(260);

          .select-value{
            i.before{
              @include mixinDimensions('', render-pixel(12), render-pixel(19));
              background: url($image-filter-2) no-repeat left;
            }
          }
        }


        .select-value{
          span{
            font: {
              size: render-pixel(16.5);
              weight: 600;
            }
            color: lighten($color-black, 35%);
          }

          i.before{
            position: absolute;
            left: render-pixel(10);
            top: render-pixel(11);
          }

          i.after{
            position: absolute;
            right: render-pixel(10);
            top: render-pixel(17);
            @include mixinDimensions('', render-pixel(11), render-pixel(6));
            background: url($image-filter-arrow) no-repeat right;
          }
        }


        select{
          position: absolute;
          top: 0;
          left: 0;
          @include mixinDimensions('', $width-all);
          opacity: 0;
        }
      }// -.select-custom
    }// /- filter-row
  }// /-.filter-container
}// /-section.filter