include ../_mixin/mixin

-
    var arrFontName = [
        'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
    ];

-
    var arrStyleName = [
        'style/style.min.css',
        'style/main/header.min.css',
        'style/main/document.min.css',
        'style/main/steps.min.css',
        'style/main/uniqueness.min.css',
        'style/main/example.min.css',
        'style/main/news.min.css',
        'style/main/video.min.css'
    ];

-
    var arrDopFiles = [
        'style/_dop/animate.min.css',
        'style/_dop/owl.carousel.min.css',
        'style/_dop/owl.theme.default.css'
    ];


+htmlTemplateHEAD('ProfiDoc', arrFontName, arrStyleName, arrDopFiles)