doctype html
html
    head
        //- HEADER SECTION [link, meta.., title & etc]
        include head

    body

        block sign
            include main/form-sign

        //- HEADER SECTION
        block header
            include main/header

        //- WHICH DOCUMENT...?
        block document
            include main/document

        //- 3 STEPS
        block steps
            include main/steps

        //- VIDEO SECTION
        section#video.video
            .video-container
                h2 Видео
                .video-block
                h2!= 'уникальность и преимущества <span>profidoc</span>'

        //- UNIQUENESS SECTION
        block uniqueness
            include main/uniqueness

        //- EXAMPLE
        block example
            include main/example

        block news
            include main/news

        block footer
            include _dop/footer

        //- FOOTER SECTION [script..]
        include foot