doctype html
html

    // HEADER SECTION [link, meta.., title & etc]
    include head

    body

        // HEADER SECTION
        block header
            include header

        // WHICH DOCUMENT...?
        block document
            include document

        // 3 STEPS
        block steps
            include steps

        // VIDEO SECTION
        section#video.video
            .video-container
                h2 Видео
                .video-block
                h2!= 'уникальность и преимущества <span>profidoc</span>'

        // UNIQUENESS SECTION
        block uniqueness
            include uniqueness

        // FOOTER SECTION [script..]
        include foot