doctype html
html

    // HEADER SECTION [link, meta.., title & etc]
    include head

    body

        // HEADER SECTION
        block header
            include header

        // WHICH DOCUMENT...?
        block document
            include document

        // FOOTER SECTION [script..]
        include foot