///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";


///
/// VARIABLE BLOCK
///
$width-all              : return-value(dimension, all);

$color-white            : return-value(color, white);
$color-navBlue          : return-value(color, navBlue);
$color-yellow           : return-value(color, yellow);
$color-gradientYellow3  : return-value(color, gradientYellow3);
$color-gradientYellow4  : return-value(color, gradientYellow4);
$color-gradientGray1    : return-value(color, gradientGray1);
$color-gradientGray2    : return-value(color, gradientGray2);
$color-documentDgreen   : return-value(color, documentDgreen);

$image-doc          : '../image/icon-file.png';
$image-pen          : '../image/icon-table-pen.png';
$image-download     : '../image/icon-table-download.png';
$image-del          : '../image/icon-table-del.png';
$image-sort         : '../image/icon-table-sort.png';



section.main {

  .main-row {

    &-free,
    &-my,
    &-my1,
    &-message {
      padding-bottom: render-pixel(40);


      p {
        font: {
          size: render-pixel(15.5);
        }
        line-height: 1.5;
        margin-bottom: render-pixel(10);
      }

      p.title {
        font: {
          size: render-pixel(22);
        }
        margin-bottom: render-pixel(15);

        >.slogan {
          color: red;
        }
      }
    }// /-&-free, &-my, &-message

    &-free {
      ul.list-free {
        @include mixinCenteredBLockFlex(row, center, center);
        flex-wrap: wrap;


        > li {
          width: $width-all/2 - 1;
          margin-bottom: render-pixel(7.5);

          &:first-child,
          &:nth-child(3) {
            margin-right: render-pixel(5);
          }


          a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 render-pixel(10);
            background-color: $color-navBlue;
            color: $color-white;
            font-size: render-pixel(14);
            text-transform: uppercase;
            @include mixinDimensions('min', $width-all, 40px);


            &:before {
              content: '';
              display: inline-block;
              @include mixinDimensions('', render-pixel(18), render-pixel(24));
              background: url($image-doc) no-repeat center;
              background-size: contain;
            }


            > i {
              font-style: normal;
              float: right;
              padding: render-pixel(5) render-pixel(10);
              background-color: $color-yellow;
              color: #222;
              @include mixinBorder('all', 1px, $color-white);
            }
          }
        }
      }
    }


    &-my {
      p.text {
        margin-bottom: render-pixel(20);
      }


      ul.list-my {
        li {
          @include mixinCenteredBLockFlex(row, flex-start, space-between);
          padding-bottom: render-pixel(20);


          .left{
            position: relative;
            margin-right: render-pixel(10);
            @include mixinDimensions('', 220px, 105px);
            @include mixinLinerGradient($color-gradientGray1, $color-gradientGray2);
            @include mixinBorder('all', 1px, $color-gradientGray2);

            > a.btn-choose-doc {
              @include mixinDimensions('', $width-all);
              font-size: render-pixel(22);
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }


          .right {
            width: calc(100% - 240px);
          }


          &:last-child {
            .left {
              @include mixinLinerGradient($color-gradientYellow3, $color-gradientYellow4);
              @include mixinBorder('all', 1px, $color-gradientYellow4);

              > a.btn-choose-doc {
                font-size: render-pixel(16.5);
              }
            }
          }
        }// /-li
      }

      .btn-all-doc {
        display: block;
        font-size: render-pixel(14.5);
        @include mixinDimensions('', 195px, 40px);
        background-color: $color-navBlue;
        transition: all .3s linear;
        color: $color-white;
        text-align: center;
        line-height: 2.6;


        &:hover {
          background-color: $color-yellow;
        }
      }
    }// /-&-my


    &-my1 {

      //PROFILE
      p.title {
        >span {
          color: red;
        }
      }// /-p.title


      [class^='field-'] {
        margin-bottom: render-pixel(15);


        > label {
          display: inline-block;
          width: render-pixel(250);
          vertical-align: middle;
          font-size: render-pixel(14);
          color: darken($color-gradientGray2, 40%);


          > span {
            color: red;
          }
        }


        > input {
          vertical-align: middle;
          outline: none;
          padding: 0 render-pixel(10);
          @include mixinDimensions('', 348px, 28px);
          @include mixinBorder('all', 1px, $color-gradientGray2);
        }
      }// /-[class^='field-']


      .container-load{
        @include mixinCenteredBLockFlex(row, flex-end, flex-start);


        .container-image {
          margin-right: render-pixel(20);
          background-color: $color-gradientGray2;
          @include mixinDimensions('', render-pixel(160), render-pixel(170));

          >img{
            display: block;
            max-width: $width-all;
            height: auto;
          }
        }// /-.container-image


        .container-btn {
          >button {
            display: block;
            font-weight: render-pixel(600);
            cursor: pointer;
            padding: render-pixel(10) render-pixel(30);


            &.btn-load-img {
              background-color: $color-navBlue;
              margin-bottom: render-pixel(15);
              color: $color-white;
            }// /-&.btn-load-img


            &.btn-remove-img {
              color: #222;
              background-color: $color-gradientGray2;
            }// /-&.btn-remove-img
          }
        }// /-.container-btn
      }// /-.container-load


      .soc-list {
        li {
          display: inline-block;
          margin-right: render-pixel(10);
        }
      }// /-.soc-list


      .profile-label-select {
        display: inline-block;
        width: render-pixel(250);
        vertical-align: middle;
        font-size: render-pixel(14);
        color: darken($color-gradientGray2, 40%);
      }// /-profile-label-select


      .select-custom {
        position: relative;
        display: inline-block;
        padding: render-pixel(2.5) render-pixel(10);
        font: {
          size: render-pixel(14);
          weight: 600;
        }
        color: #222;
        line-height: 1.5;
        @include mixinBorder('all', 1px, $color-gradientGray2);
        @include mixinDimensions('', 348px, 28px);


        .select-value {
          > i {
            position: absolute;
            right: 10px;
            top: $width-all/2;
            @include mixinDimensions('', render-pixel(9), render-pixel(5));
            background: url($image-sort) no-repeat center;
          }
        }


        >select {
          opacity: 0;
          position: absolute;
          left: 0; top: 0;
          @include mixinDimensions('', $width-all);
        }
      }// /-.select-custom


      .company-name {
        font-style: italic;
        padding: 0 render-pixel(10);
        outline: none;
        @include mixinBorder('all', 1px, $color-gradientGray2);
        @include mixinDimensions('', $width-all/2, 28px);
      }// /-company-name


      label.your-var{
        font-size: render-pixel(14);
        color: darken($color-gradientGray2, 40%);
      }


      .position-your-var {
        padding: 0 render-pixel(10);
        outline: none;
        @include mixinBorder('all', 1px, $color-gradientGray2);
        @include mixinDimensions('', $width-all/2, 28px);
      }


      .container-position {
        display: inline-block;
        margin: render-pixel(10) -.36em render-pixel(10) 0;


        > label {
          font-size: render-pixel(15);
        }


        &:first-child,
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5){
          width: $width-all/4;
        }

        &:nth-child(6),
        &:nth-child(7) {
          width: $width-all/2;
        }

        &:last-child {
          width: $width-all;
        }
      }


      p.profile-info {
        color: red;
        font-size: render-pixel(15);
        margin: render-pixel(15) 0;
      }// /-p.profile-info


      .btn-profile-save {
        cursor: pointer;
        color: $color-white;
        font: {
          size: render-pixel(16);
          weight: 400;
        }
        background-color: $color-yellow;
        padding: render-pixel(10) render-pixel(30);
        transition: all .3s linear;


        &:hover {
          background-color: $color-navBlue;
        }
      }// /-.btn-profile-save


      //PAYMENT
      .choose-payment {
        @include mixinCenteredBLockFlex(row, baseline, flex-start);
        flex-wrap: wrap;


        >label {
          width: $width-all / 6;
          text-align: center;


          > p {
            font-size: render-pixel(14);
          }


          input[type='text'] {
            width: 100px;
          }
        }
      }// /-.choose-payment


      a.btn-choose-payment {
        display: block;
        text-align: center;
        color: $color-white;
        background-color: $color-navBlue;
        text-transform: uppercase;
        margin: render-pixel(20) 0;
        font-weight: 600;
        line-height: 2.4;
        transition: all .3s linear;
        @include mixinDimensions('', 193px, 38px);


        &:hover {
          color: #222;
          background-color: $color-yellow;
        }
      }// /-btn-payment


      #input-sum {
        margin: 0 render-pixel(10);
        padding: 0 render-pixel(2.5);
        @include mixinDimensions('', 125px, 25px);
      }


      p.choose-payment {
        margin: render-pixel(15) 0;
      }


      table#payment.payment {
        thead {
          tr {
            th {

              &:nth-child(n+2) {
                text-align: center;
              }
            }
          }
        }
        >tbody{
          tr {
            td {

              &:nth-child(n+2) {
                text-align: center;
              }

              &.payment {
                span {
                  font: {
                    size: render-pixel(13);
                    weight: 600;
                  }


                  &.yes {
                    color: $color-documentDgreen;
                  }


                  &.no {
                    color: red;
                  }
                }// /-span

                >a.btn-payment {
                  font: {
                    size: render-pixel(12);
                    weight: 600;
                  }
                  color: $color-white;
                  padding: render-pixel(2.5) render-pixel(5);
                  background-color: $color-yellow;

                  &:before{
                    content: '$';
                    display: inline-block;
                    color: $color-yellow;
                    text-align: center;
                    @include mixinDimensions('', 15px);
                    border-radius: $width-all;
                    background-color: $color-white;
                    margin-right: render-pixel(5);
                    vertical-align: middle;
                  }
                }
              }
            }
          }
        }
      }


      .wrap-subscribe {
        @include mixinCenteredBLockFlex(row, flex-start, center);


        [class^='subscribe-'] {
          width: $width-all/3;
          text-align: center;
          transition: all .3s linear;
          @include mixinBorder('all', 1px, lighten($color-gradientGray2, 3%));


          &:hover {
            border-color: $color-yellow;


            a.btn-buy {
              background-color: $color-yellow;
              color: #222;
            }
          }


          &:nth-child(2) {
            margin: 0 render-pixel(5);
          }


          p {
            font: {
              size: render-pixel(16);
            }
          }


          header {
            background-color: lighten($color-gradientGray2, 10%);
            padding: render-pixel(5) 0;

            p {
              margin-bottom: 0;
              line-height: 1.5;
            }

            p.month {
              color: $color-navBlue;
            }
          }// /-header


          section {
            margin: render-pixel(10) render-pixel(30);
            padding: render-pixel(5) 0;
            @include mixinBorder('all', 1px, $color-yellow);


            label {
              padding-bottom: render-pixel(10);
              cursor: pointer;
              @include mixinCenteredBLockFlex(row, center, center);


              &:first-child {
                padding-top: render-pixel(10);
              }


              .left {
                width: 30%;
                text-align: right;
                padding-right: render-pixel(10);
              }


              .right {
                width: 70%;
                text-align: left;
                padding-left: render-pixel(10);


                > p.text{
                  font-size: render-pixel(14);
                  margin-bottom: 0;


                  span {
                    color: $color-navBlue;
                    font: {
                      size: render-pixel(18);
                      weight: 600;
                    }
                  }
                }
              }
            }


            .radio-custom {
              position: relative;
              display: inline-block;
              border-radius: $width-all;
              vertical-align: middle;
              @include mixinDimensions('', 15px);
              @include mixinBorder('all', 1px, darken($color-gradientGray2, 5%));


              input{
                opacity: 0;
                position: absolute;
                top: 0;  left: 0;
                margin: 0;
                @include mixinDimensions('', $width-all);
              }
            }// /-.radio-custom


            .radio-custom.check {
              i {
                position: absolute;
                background-color: lighten($color-documentDgreen, 15%);
                border-radius: $width-all;
                @include mixinCenteredBLockAbsolute(0,0,0,0);
                @include mixinDimensions('', render-pixel(7));
              }
            }
          }// /-section


          footer {

            p.price {
              font-size: render-pixel(18);

              > span {
                color: $color-navBlue;
                font-weight: 600;
                font-size: render-pixel(19);
              }
            }// /-p.price


            a.btn-buy{
              display: block;
              color: $color-white;
              background-color: $color-navBlue;
              text-transform: uppercase;
              margin: 0 auto render-pixel(20);
              font-weight: 600;
              line-height: 2.4;
              transition: all .3s linear;
              @include mixinDimensions('', 193px, 38px);
            }// /-btn-buy
          }// /-footer
        }// /-[class^='subscribe-']
      }// /-.wrap-subscribe


      p.subtitle {
        font-size: render-pixel(16.5);
        color: $color-navBlue;
        margin-bottom: render-pixel(10);
      }// /-p.subtitle


      .wrap-pack {
        @include mixinCenteredBLockFlex(row, baseline, space-between);


        .container-sub {
          width: $width-all/3;
          padding: render-pixel(7.5);
          text-align: center;


          img {
            margin-bottom: render-pixel(10);
          }


          p{
            font-size: render-pixel(14);


            &.title {
              font-weight: 600;
            }
          }
        }// /-.container
      }// /-.wrap-pack


      //BONUS
      table#bonus.bonus {
        margin-bottom: render-pixel(20);


        thead {
          tr {
            th {
              &:after{
                display: none;
              }

              &:nth-child(n+2) {
                text-align: center;
              }
            }
          }
        }
        tbody {
          tr {
            td {

              &.name {
                text-decoration: none;
              }

              &.count {
                text-align: center;
              }

              &.date {
                color: lighten(#222, 5%);
                font-weight: normal;
              }

              >span {
                font-weight: 600;

                &.minus {
                  color: red;
                }


                &.plus {
                  color: $color-documentDgreen;
                }
              }
            }
          }
        }
      }// /-table#check.check


      //CHECK
      table#check.check {
        thead {
          tr {
            th {
              &:after{
                display: none;
              }

              &:nth-child(n+2) {
                text-align: center;
              }
            }
          }
        }
        tbody {
          tr{
            td{

              &:nth-child(n+2) {
                text-align: center;
              }

              span.status {
                font: {
                  size: render-pixel(13);
                  weight: 600;
                }
                color: red;

                &.in-work {
                  color: $color-yellow;
                }
                &.done {
                  color: $color-documentDgreen;
                }
              }// /-span.status


              .btn-table-download {
                display: inline-block;
                @include mixinDimensions('', 30px);
                background-color: $color-yellow;
                margin-right: render-pixel(2.5);

                &:before{
                  content: '';
                  display: block;
                  margin: 5px auto;
                  @include mixinDimensions('', 14px, 17px);
                  background: url($image-download) no-repeat center;
                  background-size: contain;
                }
              }// /-btn-table-download


              &.data-end {
                font: {
                  size: render-pixel(13);
                  weight: 600;
                }
              }
            }
          }
        }
      }// /-table#check.check


      //ORDER
      table#order.order {
        thead {
          tr {
            th {
              &:after{
                display: none;
              }

              &:nth-child(n+2) {
                text-align: center;
              }
            }
          }
        }
        tbody {
          tr{
            td{

              &:nth-child(n+2) {
                text-align: center;
              }

              span.status {
                color: $color-documentDgreen;

                &.in-work {
                  color: $color-yellow;
                }
              }
            }
          }
        }
      }// /-table.order


      table {
        width: $width-all;
        @include mixinBorder('all', 1px, lighten($color-gradientGray2, 3%));


        thead {
          @include mixinLinerGradient($color-gradientGray1, $color-gradientGray2);
          tr {
            th {
              padding: render-pixel(10);
              color: lighten(#222, 3%);
              cursor: pointer;


              &:first-child,
              &:nth-child(2),
              &:nth-child(3) {
                &:after {
                  content: '';
                  display: inline-block;
                  @include mixinDimensions('', render-pixel(9), render-pixel(5));
                  background: url($image-sort) no-repeat center;
                  background-size: contain;
                  vertical-align: middle;
                  margin-left: render-pixel(5);
                }
              }
            }
          }
        }


        tbody {
          border-collapse: separate;


          tr {
            min-height: 70px;


            td {
              padding: render-pixel(15) render-pixel(10);
              vertical-align: middle;


              &.name {
                font: {
                  size: render-pixel(15.5);
                  weight: 600;
                }
                text-decoration: underline;
              }

              &.date {
                font-size: render-pixel(14);
                color: lighten(#222, 5%);
              }

              &.readiness {
                text-align: center;
                color: $color-navBlue;
                font-size: render-pixel(15.5);
              }

              &.act {
                > a.btn-main {
                  display: inline-block;
                  @include mixinDimensions('', 30px);
                  background-color: $color-gradientGray1;
                  @include mixinBorder('all', 1px, $color-gradientGray2);
                  margin-right: render-pixel(2.5);

                  &.edit,
                  &.delete,
                  &.download {
                    &:before{
                      content: '';
                      display: block;
                      margin: render-pixel(5) auto;
                      @include mixinDimensions('', render-pixel(14), render-pixel(17));
                    }
                  }


                  &.edit{
                    &:before{
                      background: url($image-pen) no-repeat center;
                      background-size: contain;
                    }
                  }

                  &.delete{
                    &:before{
                      background: url($image-del) no-repeat center;
                      background-size: contain;
                    }
                  }

                  &.download{
                    &:before{
                      background: url($image-download) no-repeat center;
                      background-size: contain;
                    }
                  }
                }
              }

              &.payment {
                span {
                  font: {
                    size: render-pixel(13);
                    weight: 600;
                  }


                  &.yes {
                    color: $color-documentDgreen;
                  }


                  &.no {
                    color: red;
                  }
                }// /-span

                >a {
                  font: {
                    size: render-pixel(12);
                    weight: 600;
                  }
                  color: $color-white;
                  padding: render-pixel(2.5) render-pixel(5);
                  background-color: $color-yellow;

                  &:before{
                    content: '$';
                    display: inline-block;
                    color: $color-yellow;
                    text-align: center;
                    @include mixinDimensions('', 15px);
                    border-radius: $width-all;
                    background-color: $color-white;
                    margin-right: render-pixel(5);
                    vertical-align: middle;
                  }
                }
              }

              &.bonus {
                color: $color-navBlue;
                font: {
                  size: render-pixel(13);
                  weight: 600;
                }
              }
            }
          }
        }
      }


      .btn-all-doc,
      .btn-all-operation{
        padding: render-pixel(10) render-pixel(15);
        font-size: render-pixel(14.5);
        @include mixinDimensions('', auto, 40px);
        min-width: 195px;
        background-color: $color-navBlue;
        transition: all .3s linear;
        color: $color-white;
        text-align: center;
        line-height: 2.6;
        text-transform: uppercase;


        &:hover {
          background-color: $color-yellow;
        }
      }


      .btn-all-check,
      .btn-new-check{
        display: block;
        margin: 20px auto;
        color: $color-white;
        font: {
          size: render-pixel(15);
          weight: 600;
        }
        text-transform: uppercase;
        height: 38px;
        text-align: center;
        line-height: 2.5;
      }// /-btn-all-check


      .btn-all-check {
        width: 144px;
        background-color: $color-navBlue;
      }


      .btn-new-check {
        width: 330px;
        background-color: $color-yellow;
      }


      .container {
        @include mixinCenteredBLockFlex(row, baseline, center);


        [class^='btn-replace-bonus-'] {
          width: $width-all/3;
          margin: 0 render-pixel(10);
          text-align: center;


          img{
            margin-bottom: render-pixel(15);
          }

          p {
            font: {
              size: render-pixel(16.5);
            }
            color: $color-navBlue;
          }
        }// /-block-
      }


      .container-img {
        @include mixinCenteredBLockFlex(row, flex-end, flex-start);
        flex-wrap: wrap;


        [class^='block-cart-'] {
          width: $width-all/3;
          text-align: center;
        }
      }
    }// /-my1


    &-message {
      p.date {
        color: lighten($color-navBlue, 5%);
      }

      p.name {
        color: $color-navBlue;
      }

      .btn-all-archives {
        display: block;
        font-size: render-pixel(14.5);
        @include mixinDimensions('', 195px, 40px);
        background-color: $color-navBlue;
        transition: all .3s linear;
        color: $color-white;
        text-align: center;
        line-height: 2.6;


        &:hover {
          background-color: $color-yellow;
        }
      }
    }// /-&-message
  }
}// /-section.main