include ../../_mixin/mixin


-
    var linkName = [
        'Главная',
        'Пользовательское соглашение'
    ];

    var linkHash = [
        '/', '#'
    ];

    var linkLine = [
        '/', ''
    ];

+breadcrumbsMain('breadcrumbs', 'Пользовательское соглашение')