///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
@import "../../../../../dist/style/_sprite/sprite";


///
/// VARIABLE BLOCK
///
$width-all        : return-value(dimension, all);

$color-white      : return-value(color, white);
$color-footerBg   : return-value(color, footerBg);
$color-navBlue    : return-value(color, navBlue);


///
/// FOOTER BLOCK
///
footer.footer{
  position: relative;
  background-color: $color-footerBg;
  @include mixinDimensions('min', $width-all, render-pixel(367));


  .footer-header{
    background-color: $color-navBlue;
    @include mixinDimensions('min', $width-all, render-pixel(65));


    .footer-container{
      @include mixinMaxWidthPosition(10.7, 0, 15);
      min-height: render-pixel(65);

      ul.list-title{
        @include mixinCenteredBLockFlex(row, center, center);
        color: $color-white;

        li{
          width: 260px;
        }


        li{
          display: inline-block;

          &:first-of-type{
            font-size: render-pixel(45);
          }

          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4){
            line-height: 1.5;
            font-size: render-pixel(20);
          }
        }
      }// /-ul.list-title
    }// /-.footer-container
  }// /-.footer-header


  .footer-section{
    //position: relative;
    //top: render-pixel(65);
    //left: 0;
    //width: $width-all;
    //height: auto;
    color: $color-white;


    .footer-container{
      @include mixinMaxWidthPosition(10.7, 35, 15, 15);
      height: $width-all;
      @include mixinBorder(bottom, 1px, $color-white);
      @include mixinCenteredBLockFlex(row, baseline, center);

      .footer-block-0{
        p{
          &:first-of-type{
            font-size: render-pixel(14);
            margin-bottom: render-pixel(50);
          }

          &:last-of-type{
            margin: render-pixel(30) 0 render-pixel(10);
            font-size: render-pixel(17);
          }
        }
      }


      [class^='footer-block-']{
        width: 260px;
        font-size: render-pixel(15);

        li{
          a{
            color: $color-white;
            line-height: 2;

            &:hover:before{
              transform: rotateY(360deg);
              transition: all .5s ease-in-out;
            }
          }
        }

        @each $className, $iconName in
                        (facebook, $sprite-footer-social-0),
                        (vkontakte, $sprite-footer-social-1),
                        (youtube, $sprite-footer-social-2) {
          .social-icon{
            li.#{$className}{
              display: inline-block;

              a{
                &:before{
                  content: '';
                  display: inline-block;
                  @include sprite($iconName);
                  margin-right: render-pixel(10);
                }
              }
            }
          }
        }
      }
    }

    .footer-row{
      background-color: $color-footerBg;
      @include mixinMaxWidthPosition(10.7, 25, 15);
      @include mixinCenteredBLockFlex(row, flex-start, center);


      span{
        font-size: render-pixel(15);
        width: $width-all/2;
      }
    }// /-.footer-row
  }// /-.footer-section
}// /-footer



///
/// MEDIA QUERIES
///
@media screen and (min-width: 320px) and (max-width: 767px) {
  footer#footer.footer{
    .footer-header{
      .footer-container{
        ul.list-title{
          li{
            &:first-of-type{
              text-align: center;
            }


            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4){
              display: none;
            }
          }
        }// /-ul.list-title
      }// /-.footer-container
    }// /-.footer-header

    .footer-section{
      padding: render-pixel(15);


      .footer-container{
        padding: 0;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;


        .footer-block-0{
          border-bottom: none !important;
        }


        [class^='footer-block-'] {
          width: $width-all;
          padding: render-pixel(15) 0;
          @include mixinBorder(bottom, 1px, $color-white);

          ul.about,
          ul.product,
          ul.list{
            li{
              &:first-of-type{
                pointer-events: none;
                display: block;
              }
            }
          }
        } // /-footer-block-
      }// /-.footer-container


      .footer-row{
        flex-direction: column-reverse;
        align-items: center;

        span{
          width: $width-all;
          text-align: center;
          margin-bottom: render-pixel(10);
        }
      }// /-.footer-row
    }// /-.footer-section
  }// /-footer#footer.footer
}

@media screen and (min-width: 768px) {
  footer#footer.footer{
    .footer-section{
      .footer-container{
        [class^='footer-block-'] {

          ul.about,
          ul.product,
          ul.list{
            li{
              &:first-of-type{
                pointer-events: none;
                display: none;
              }
            }
          }
        } // /-footer-block-
      }// /-.footer-container
    }// /-.footer-section
  }// /-footer#footer.footer
}