
section#create.create
    .create-container
        p.title!= 'Создайте документ на своих условиях'
        p.slogan!= 'прямо сейчас <span class="sum">38 грн.</span>'

        a(href="#", class='btn-create-contracts')!= 'Выбрать документ'