


section#form.form
    header#form-header.form-header
        p.title!= 'Начало работы'

    form(name='registration', action='')
        .field-name
            label(for='name', class='name-label')
            input(type='text', class='name-input', id='name', placeholder='Username', required)
            p(class='help-block help-block-error')!= ''

        .field-name
            label(for='password', class='password-label')
            input(type='password', class='password-input', id='password', placeholder='Password', required)
            p(class='help-block help-block-error')!= ''

        div.internal-block
            .checkbox-custom
                input(type='checkbox', name='checkbox', class='remember', id='remember')

            span.remember-text!= 'Запомнить меня'

        button(type='submit', class='btn-registration') вход

    div.line

    div.social
        button(type='button', class='sign-f') Facebook login
        br
        button(type='button', class='sign-t') Twitter login


