-
    var contentSmallText = 'Свой бизнес Ирина Федорова начала без стартового капитала, с коллективной закупки качественных тканей. Сегодня она владеет творческой мастерской, в которой создаются оригинальные вещи для дома и карнавальные костюмы. ';

    var contentMainText = [
        'Свой бизнес Ирина Федорова начала без стартового капитала, с коллективной закупки качественных тканей. Сегодня она владеет творческой мастерской, в которой создаются оригинальные вещи для дома и карнавальные костюмы.',
        'Первым шагом к тому, чтобы открыть свой бизнес, стало увольнение. Рукоделие всегда было моим хобби, а когда вдруг высвободилось время, я только им и занималась, параллельно много общалась с рукодельницами на Blogspot.',
        'Самая большая проблема, с которой я тогда столкнулась, — это отсутствие доступных и качественных тканей. Соответственно, возникла мысль, что нужно постараться как-то решить эту проблему. Ведь многие наши клиенты живут в отдаленных от мегаполисов деревушках, селах, городах, но ведь они же тоже хотят работать с хорошими материалами. Возникла идея организовывать коллективную закупку тканей. Это поспособствовало открытию мастерской: чем больше своих работ я выкладывала, тем больше было желающих поучаствовать в закупке тканей и сделать у нас заказ.',
        'Стартового капитала на открытие бизнеса вообще не было, так как я с самого начала работала по предоплате. Первое время моим рабочим пространством стал балкон, отсюда и название мастерской «Балкон с секретом». Но со временем не только этого балкона, но и всей квартиры стало не хватать, поэтому было принято решение открыть бизнес официально и снять помещение под мастерскую. Конечно, мы и не надеялись, что бизнес достигнет таких объемов, которые есть у нас сейчас. Сначала мы заехали в одно помещение, потом в другое, так как объемы росли, увеличивалось количество поставщиков. Сегодня мы работаем не только с российскими, но и с зарубежными клиентами. В команде у нас четыре человека.',
        'По тканям мы сотрудничаем с поставщиками, в ассортименте у нас представлены не только отечественные образцы, но и турецкие, китайские, пакистанские, испанские ткани. На начальном этапе ставка делалась именно на карнавальные костюмы. Такие вещи, как правило, либо очень качественные и дорогие, либо шьются из плохих тканей и поэтому стоят дешево. Мы решили не экономить на тканях и создавать необычных персонажей, которые нравятся и детям, и родителям.',
        'Поначалу в мастерскую были завезены все машинки, которые были у меня дома. Сейчас каждый месяц мы ставим себе цель что-то делать для мастерской: вкладываемся в оборудование, освещение, новые машинки, модернизацию. В идеале хотелось бы приобрести более мощную и современную технику, когда появится возможность.',
        'Реклама и маркетинг',
        'Рекламу мы не даем. Продажи осуществляются на двух раскрученных торговых площадках — «Осинка» и «Ярмарка Мастеров». Все остальное практически не работает. Листовки и рекламу в Тольятти раздавать неинтересно, мы нацелены на интернет, так как все наши заказчики — иногородние. Если мы даем рекламу в Тольятти, то к нам приходят бабушки, которые хотят купить продукт за очень низкую цену, а мы ориентированы на качество, соответственно, низких цен у нас быть не может.  ',
        'Мы работаем через соцсети: Instagram, Facebook, «ВКонтакте». Сначала я выкладываю фото в Instagram, а затем импортирую их в  Facebook и во «ВКонтакте». Отклики поступают только из Instagram, но раз уж это одна опция, то лучше нажать дополнительную кнопочку, чтобы информация появилась и с других соцсетях. На мой взгляд, Instagram заточен на людей с более высоким уровнем жизни. Конечно, смартфон сейчас себе может позволить и школьник, но те, кто пользуется Instagram, имеют доход выше среднего, а значит, могут выбрать и заказать не самый дешевый рыночный комплект, а что-то эксклюзивное.'
    ];


section#content.content
    .content-container
        .content-row
            div.img-block
                img(src='../image/idea-details-small.png', class='img-responsive')
            div.text-block
                p!= contentSmallText

        .content-row
            - for(var i = 0; i < contentMainText.length; i++)
                if(i == 5)
                    img(src='../image/idea-details-big.png', class='img-responsive')
                    p!= contentMainText[i]
                else if (i == 6)
                    p.title!= contentMainText[i]
                else
                    p!= contentMainText[i]