////
/// @group  Variable
////

///
/// @name   object
///

$object : (
    color : (
        white           : #fff,
        black           : #000,
        lightBlack      : #404040,
        navBlue         : #229fff,
        yellow          : #fcd70a,
        borderGray      : #e1e1e1,
        documentBord    : #c52a4c,
        documentOrange  : #ffb515,
        documentDblue   : #235269,
        documentDgreen  : #23693d,
        documentLgray   : #839ba8,
        documentSer     : #5d0885,
        newsBg          : #ededed,
        newsText        : #6f6f6f,
        footerBg        : #272727,
        scopeBorder     : #e7e7e7,
        lightGrayText   : #d1d1d1,
        darkenBlueText  : #00549b,
        darkenBlueText0 : #037bd6,
        darkenBlueText1 : #004287,
        lightenBlueText : #81b6e2,
        lightenYellow   : #fff5bf,
        wayGrayCircle   : #d3d3d3,
        workBlueText    : #478fcc,
        bgGray          : #f7f7f7,
        subscribeHeadGS : #def0ff,
        subscribeHeadGE : #c2e3ff,
        newsBgRightPanel: #fbfbfb,
        signFacebook    : #23599b,
        signTwitter     : #00aef1,
        grayDarken      : #848484,

        // GRADIENT BLUE
        gradientBlue1   : #3FABEA,
        gradientBlue2   : #54C0FF,
        gradientBlue3   : #3FB8FE,
        gradientBlue4   : #2AA3E9,

        // GRADIENT YELLOW
        gradientYellow1 : #e8cd3a,
        gradientYellow2 : #fde24f,
        gradientYellow3 : #fbde3a,
        gradientYellow4 : #e5c723,

        // GRADIENT ORANGE
        gradientOrange1 : #ee9c37,
        gradientOrange2 : #ffaf48,
        gradientOrange3 : #fea532,
        gradientOrange4 : #e9901d,

        // GRADIENT GREEN
        gradientGreen1 : #60a032,
        gradientGreen2 : #76b648,
        gradientGreen3 : #66ae32,
        gradientGreen4 : #50981d,

        // GRADIENT GREEN
        gradientGray1 : #fcfcfc,
        gradientGray2 : #d8d8d8
    ),

    dimension : (
        all       : 100%,
        half      : 50%,
        point     : 100px
    ),

    mediaBreackpoints : (
        phone     : 480px,
        tablet    : 768px,
        desktop   : 992px,
        large     : 1200px
    ),

    textValue : (
        mobile    : 'mobile',
        tablet    : 'tablet',
        small     : 'small-desktop',
        medium    : 'medium-desktop',
        large     : 'large-desktop'
    )
);