////
/// @group  Variable
////

///
/// @name   object
///

$object : (
    color : (
        white           : #fff,
        black           : #000,
        lightBlack      : #404040,
        navBlue         : #229fff,
        yellow          : #fcd70a,
        borderGray      : #e1e1e1,
        documentBord    : #c52a4c,
        documentOrange  : #ffb515,
        documentDblue   : #235269,
        documentDgreen  : #23693d,
        documentLgray   : #839ba8,
        documentSer     : #5d0885,
        newsBg          : #ededed,
        newsText        : #6f6f6f
    ),

    dimension : (
        all       : 100%,
        half      : 50%,
        point     : 100px
    ),

    mediaBreackpoints : (
        phone     : 480px,
        tablet    : 768px,
        desktop   : 992px,
        large     : 1200px
    ),

    textValue : (
        mobile    : 'mobile',
        tablet    : 'tablet',
        small     : 'small-desktop',
        medium    : 'medium-desktop',
        large     : 'large-desktop'
    )
);