////
/// @group  Variable
////

///
/// @name   object
///

$object : (
    color : (
        white     : #fff,
        black     : #000,
    ),

    dimension : (
        all       : 100%,
        half      : 50%
    ),

    mediaBreackpoints : (
        phone     : 480px,
        tablet    : 768px,
        desktop   : 992px,
        large     : 1200px
    ),

    textValue : (
        mobile    : 'mobile',
        tablet    : 'tablet',
        small     : 'small-desktop',
        medium    : 'medium-desktop',
        large     : 'large-desktop'
    )
);