include ../../_mixin/mixin


-
    var linkName = [
        'Главная',
        'Конструктор договоров',
        'Создание договоров'
    ];

    var linkHash = [
        '/', '#', '#'
    ];

    var linkLine = [
        '', '', ''
    ];

+breadcrumbsMain('breadcrumbs', 'Создание договоров')