include ../../_mixin/mixin


-
    var linkName = [
        'Главная',
        'Регистрация ООО и ФОП "под ключ"'
    ];

    var linkHash = [
        '/', '#'
    ];

    var linkLine = [
        '/', ''
    ];

+breadcrumbsMain('breadcrumbs', 'Регистрация ООО и ФОП "под ключ"')