-
    var someText = 'Если вы хотите провести регистрацию ООО и ИП самостоятельно, <br/>тогда вам достаточно просто зарегистрироваться в нашем сервисе <br/> и подготовить полный комплект документов.';

    var someList = [
        'заявление по форме Р11001 или Р21001;',
        'протокол собрания учредителей или решение одного учредителя;',
        'устав;',
        'договор об учреждении;',
        'уведомление о применении УСН;',
        'трудовой договор с руководителем и приказ о его назначении;'
    ];


section#some.some
    .some-container
        h2= 'Хотите сделать всё сами?'
        p!= someText
        a(href='javascript: void(0);', class='btn-some-create') Создать документы и начать бизнес

        .some-row
            .some-row-left
                img(src='../image/registration-doc.png', class='img-responsive')
                p!= 'Подготовка любого количества документов для регистрации ООО и ФОП'

            .some-row-right
                p= 'Зарегистрировавшись в сервисе и создав комплект документов для ООО или ФОП, вы получите:'

                ul.some-list
                    - for(var i = 0; i < someList.length; i++)
                        li: span= someList[i]
