///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
@import "../../_extend/extend";

@import "../../config/config.test.scss";


///
/// VARIABLE BLOCK
///
$width-all        : return-value(dimension, all);

$color-white          : return-value(color, white);
$color-navBlue        : return-value(color, navBlue);
$color-yellow         : return-value(color, yellow);
$color-lightBlack     : return-value(color, lightBlack);
$color-borderGray     : return-value(color, borderGray);
$color-documentBord   : return-value(color, documentBord);
$color-documentOrange : return-value(color, documentOrange);
$color-documentDblue  : return-value(color, documentDblue);
$color-documentDgreen : return-value(color, documentDgreen);
$color-documentLgray  : return-value(color, documentLgray);
$color-documentSer    : return-value(color, documentSer);

$doc-sign             : $config-variable + 'image/i-doc-sign.png';
$doc-homework         : $config-variable + 'image/i-doc-homework.png';
$doc-register         : $config-variable + 'image/i-doc-register.png';
$doc-construct        : $config-variable + 'image/i-doc-construct.png';
$doc-document         : $config-variable + 'image/i-doc-document.png';
$doc-security         : $config-variable + 'image/i-doc-security.png';


///
/// WHICH DOCUMENT SECTION
///
section.document{
  background-color: $color-white;
  @include mixinDimensions('min', $width-all, render-pixel(655));

  .document-container{
    @include mixinMaxWidthPosition(10.7, 50, 0);

    &:after,
    &:before{
      display: table;
      content: '';
    }

    &:after{
      clear: both;
    }

    >h2{
      @extend %paragraph;
    }


    .document-row{
      width: $width-all;

      &:after,
      &:before{
        display: table;
        content: '';
      }


      &:after{
        clear: both;
      }


      div[class^='row-block-']{
        position: relative;
        float: left;
        @include mixinDimensions('normal', $width-all/3.2, render-pixel(230));
        @include mixinBorder('all', 1px, $color-borderGray);
        margin: render-pixel(10);
        padding: render-pixel(15);
        transition: all .3s linear;


        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          @include mixinDimensions('', $width-all);
          border-bottom: 4px solid transparent;
          transition: all .3s linear;
        }


        &:hover {
          &:before {
            border-bottom: 4px solid $color-navBlue;
            box-shadow: 0 0 4px .5px rgba(34,159,255,0.3);
          }
          border-bottom: 1px solid transparent;
        }


        .row-title-block{
          margin-bottom: render-pixel(15);
          height: render-pixel(50);

          >span{
            display: inline-block;


            &:first-of-type{
              @include mixinDimensions('normal', render-pixel(35));
              border-radius: .3em;
              margin-right: render-pixel(15);
            }


            &:nth-of-type(2),
            &:nth-of-type(4n+1){
              vertical-align: middle;
            }


            &:last-of-type{
              min-height: render-pixel(50);
              color: $color-documentDblue;
              font-weight: 600;
              font-size: render-pixel(18);
            }
          }


          @each $className, $color, $iconName in (0, $color-documentBord, $doc-sign),
                  (1, $color-documentOrange, $doc-homework),
                  (2, $color-documentDblue, $doc-register),
                  (3, $color-documentDgreen, $doc-construct),
                  (4, $color-documentLgray, $doc-document),
                  (5, $color-documentSer, $doc-security),{

            span.icon-block-#{$className}{
              background-color: $color;
              text-align: center;
              line-height: 3;
              vertical-align: inherit;

              &:before{
                content: '';
                display: inline-block;
                @include mixinDimensions('', 23px, 26px);
                background: url($iconName) no-repeat center;
                background-size: contain;
              }
            }
          }
        }// /-.row-title-block


        >p{
          font-weight: 400;
          font-size: render-pixel(14);
          margin-bottom: render-pixel(15);
          line-height: 1.5;
        }


        .row-btn-price{
          position: absolute;
          width: calc(100% - 30px);
          bottom: render-pixel(15);
          left: render-pixel(15);
          @include mixinCenteredBLockFlex(row, center, space-between);


          span{
            font-size: render-pixel(14);

            span.price{
              font-size: render-pixel(24);
            }// /-span.price
          } // /-span


          >a{
            @include mixinDimensions('normal', 145px, 34px);
            background-color: $color-navBlue;
            color: $color-white;
            text-align: center;
            text-transform: uppercase;
            font-size: render-pixel(10);
            line-height: 3.4;
            transition: all .3s linear;


            &:hover {
              background: $color-yellow;
            }
          }
        }// /-row-btn-price
      }// /-div[class^='row-block-']
    }// /-.document-row
  }// /-.document-container
}// /-section.document


///
/// MEDIA QUERIES
///
@media screen and (min-width: 320px) and (max-width: 767px) {
  section#document.document{
    .document-container{
      h2{
        font-size: render-pixel(30);
      }

      .document-row{
        padding: render-pixel(15);

        [class^='row-block-']{
          width: $width-all;
          margin: 0 0 render-pixel(15) 0;
        }// /-row-block-
      }// /-document-row
    }// /-.document-container
  }// /-section#document.document
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  section#document.document{
    .document-container{
      .document-row{
        padding: 0 render-pixel(15);
        [class^='row-block-']{
          width: $width-all/2;
          margin: 0;
        }// /-row-block-
      }// /-document-row
    }// /-.document-container
  }// /-section#document.document
}