///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";

@import "../../config/config.test.scss";



///
/// VARIABLE BLOCK
///
$width-all        : return-value(dimension, all);

$color-white      : return-value(color, white);
$color-navBlue    : return-value(color, navBlue);

$imageBg          : $config-variable + 'image/uniq-bg.png';

$uniq-1          : $config-variable + 'image/i-uniq-1.png';
$uniq-2          : $config-variable + 'image/i-uniq-2.png';
$uniq-3          : $config-variable + 'image/i-uniq-3.png';
$uniq-4          : $config-variable + 'image/i-uniq-4.png';
$uniq-5          : $config-variable + 'image/i-uniq-5.png';
$uniq-6          : $config-variable + 'image/i-uniq-6.png';
$uniq-7          : $config-variable + 'image/i-uniq-7.png';
$uniq-8          : $config-variable + 'image/i-uniq-8.png';
$uniq-9          : $config-variable + 'image/i-uniq-9.png';

///
/// UNIQUENESS SECTION
///
section.uniqueness{
  @include mixinDimensions('min', $width-all, render-pixel(750));
  background: $color-white url($imageBg) no-repeat center fixed;
  background-size: cover;


  .uniqueness-container{
    @include mixinMaxWidthPosition(10.7, 25, 0);


    .uniqueness-row{
      height: render-pixel(750);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
      align-content: center;


      div[class^='uniqueness-block-']{
        position: relative;
        background: $color-white;
        margin: render-pixel(10);
        padding: render-pixel(15);
        box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
        @include mixinDimensions('normal', render-pixel(332), render-pixel(220));


        .uniqueness--block-title{
          position: absolute;
          top: render-pixel(15);
          left: render-pixel(15);
          @include mixinDimensions('normal', calc(100% - 15px), render-pixel(57));

          .title{
            position: absolute;
            right: 0;
            background: $color-navBlue;
            font-size: render-pixel(18);
            color: $color-white;
            font-weight: 600;
            text-align: center;
            line-height: 1.5;
            @include mixinDimensions('normal', render-pixel(219), $width-all);
          }

          @each $className, $image in (0, $uniq-1),
                  (1, $uniq-2),
                  (2, $uniq-3),
                  (3, $uniq-4),
                  (4, $uniq-5),
                  (5, $uniq-6),
                  (6, $uniq-7),
                  (7, $uniq-8),
                  (8, $uniq-9) {

            i.icon-#{$className}{
              display: inline-block;
              @include mixinDimensions('', 68px, 56px);
              background: url($image) no-repeat center;
              background-size: contain;
              vertical-align: middle;
            }
          }
        }// /-uniqueness--block-title

        >p{
          position: relative;
          top: calc(100% - 110px);
          font-weight: 300;
          font-size: render-pixel(14);
          text-align: justify;
          line-height: 1.5;
        }
      }// /-div[class^='uniqueness-block-']
    }// /-.uniqueness-row
  }// /-.uniqueness-container
}// /-section#uniqueness.uniqueness


///
/// MEDIA QUERIES
///
@media screen and (min-width: 320px) and (max-width: 767px) {
  section#uniqueness.uniqueness {
    .uniqueness-container {
      &:after,
      &:before{
        display: table;
        content: '';
      }

      &:after{
        clear: both;
      }

      .uniqueness-row{
        display: block;
        min-height: render-pixel(750);
        height: auto;
        padding: render-pixel(15);

        &:after,
        &:before{
          display: table;
          content: '';
        }

        &:after{
          clear: both;
        }

        [class^='uniqueness-block-']{
          width: $width-all;
          height: render-pixel(240);
          display: inline-block;
          margin: render-pixel(15) 0;

          p{
            top: calc(100% - 130px);
          }

          .uniqueness--block-title{
            .title{
              width: render-pixel(185);
              font-size: render-pixel(17);
              line-height: 1.6;
            }
          }// /-.uniqueness--block-title
        }
      }
    }// /-.uniqueness-container
  }// /-section#uniqueness.uniqueness
}

@media screen and (min-width: 768px) and (max-width: 1070px) {
  section#uniqueness.uniqueness{
    .uniqueness-container{

      &:after,
      &:before{
        display: table;
        content: '';
      }

      &:after{
        clear: both;
      }

      .uniqueness-row{
        padding: render-pixel(15);
        display: block;
        min-height: render-pixel(750);
        height: auto;

        &:after,
        &:before{
          display: table;
          content: '';
        }

        &:after{
          clear: both;
        }

        [class^='uniqueness-block-']{
          width: $width-all/2;
          display: inline-block;
          float: left;
          margin: 0;
          border: 1px solid $color-navBlue;

          &:last-of-type{
            width: $width-all;
          }
        }
      }// /-.uniqueness-row
    }// /-.uniqueness-container
  }// /-section#uniqueness.uniqueness
}