///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
@import "../_dop/footer";


///
/// VARIABLE BLOCK
///
$width-all        : return-value(dimension, all);

$color-white      : return-value(color, white);
$color-yellow     : return-value(color, yellow);
$color-borderGray : return-value(color, borderGray);


///
/// VIDEO BLOCK
///
section.video{
  @include mixinDimensions('min', $width-all, render-pixel(704));
  background-color: $color-white;

  .video-container{
    @include mixinMaxWidthPosition(10.7, 50, 0);

    h2{
      margin-bottom: render-pixel(20);
      font-weight: 300;
      font-size: render-pixel(39);
      text-transform: uppercase;
      text-align: center;

      &:last-of-type{
        margin-top: render-pixel(20);
        margin-bottom: 0;
      }

      >span{
        font-weight: 600;
        color: $color-yellow;
      }
    }// /-h2

    .video-block{
      @include mixinDimensions('min', $width-all - 5, render-pixel(454));
      background-color: $color-borderGray;
      margin: 0 auto;
    }// /-.video-block
  }// /-.video-container
}// /-section.video