@import "../_template/contracts-list/contracts-list";
@import "../_template/contracts-list/found";
@import "../_template/contracts-list/list";
@import "../_template/contracts-list/search";
@import "../_template/contracts-list/text";


body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;

	&:after,
	&:before {
		box-sizing: border-box;
	}
}


.btn {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid gray;
	padding: 0 20px;
	background-color: lightgrey;
}

a.btn.disabled {
	pointer-events: none;
}

.list-content {
	margin-left: 20px;
}

.btn + .list-content {
	display: none;
}

.btn.active + .list-content {
	display: block;
}

.doc {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: black;
	font-weight: 700;
	border: 1px solid gray;
	padding: 0 20px;
	background-color: lightcyan;
}