@import "../_template/contracts-creating/contracts-creating";
@import "../_template/contracts-creating/frame-example";
@import "../_template/contracts-list/search";


@media screen and (min-width: 320px) and (max-width: 767px) {
  #search {
    .search-row {
      width: 100%;

      >input {
        width: 70%;
      }

      button {
        width: 30%;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 990px) {
  .wrap-container{
    .frame-example {
      overflow-x: auto;

      .frame-example-container {
        width: 940px;
      }
    }
  }
}