@import "../_template/contracts-list/contracts-list";
@import "../_template/contracts-list/found";
@import "../_template/contracts-list/list";
@import "../_template/contracts-list/search";
@import "../_template/contracts-list/text";


$image-doc-list         : $config-variable + 'image/Icon-document.png';
$image-doc-list-internal: $config-variable + 'image/icon-document-internal.png';
$image-block-arr        : $config-variable + 'image/i-block-view.png';




.list-view {

	.btn-list,
	.doc {
		display: block;
		padding: 10px 20px;


		>i.icon {
			float: left;
			vertical-align: middle;
			margin-right: 10px;
		}


		>span.text {
			display: block;
			padding-left: 40px;
		}
	}


	.btn-list {
		>i.icon {
			@include mixinDimensions('', 22px, 28px);
			background: url($image-doc-list) no-repeat center;
			background-size: contain;
		}
	}


	.doc {
		>i.icon {
			@include mixinDimensions('', 18px, 24px);
			background: url($image-doc-list-internal) no-repeat center;
			background-size: contain;
		}
	}


	.list-content {
		margin-left: 40px;
	}
}

.list-block {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: flex-start;


	a.btn-list{
		position: relative;
		width: (100 / 4) * 1%;
		padding: 10px;
		padding-bottom: 30px;
		min-height: 150px;


		&.active {
			background-color: #bbe1ff;


			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 10px;  right: 0;  left: 0;
				margin: 0 auto;
				@include mixinDimensions('', 22px, 12px);
				background: url($image-block-arr) no-repeat center;
				background-size: contain;
			}
		}
	}


	a.btn-list,
	a.doc {
		text-align: center;


		>i.icon {
			display: block;
			margin: 10px auto;
		}
	}
}

.list-row-content {
	.btn-list,
	.doc {
		font-size: 15px;


		>i.icon {
			background: url($image-doc-list) no-repeat center;
			background-size: contain;
		}
	}

	.btn-list {
		>i.icon {
			@include mixinDimensions('', 22px, 28px);
			background: url($image-doc-list) no-repeat center;
			background-size: contain;
		}
	}

	.doc {
		>i.icon {
			@include mixinDimensions('', 18px, 24px);
			background: url($image-doc-list-internal) no-repeat center;
			background-size: contain;
		}
	}

	>a.btn-list {

		&.active{
			color: $color-navBlue;
		}
	}

	&.list-view {
		>a.btn-list {
			&:nth-of-type(odd) {
				background-color: lightgoldenrodyellow;
			}
		}
	}

	a.btn-list.disabled {
		pointer-events: none;
	}

	a.btn-list + .list-content {
		display: none;
	}

	.btn-list.active + .list-content {
		display: block;
	}
}

.wrap-list {
	display: none;
	padding: 15px 0;
	width: 100%;
	background-color: #bbe1ff;

	.list-content {
		display: none;
		overflow: hidden;
	}


	>.list-content {

		a.btn-list,
		a.doc {
			display: inline-block;
			width: (100 / 4) * 1%;
			height: 150px;
		}

		a.btn-list {
			margin-left: -0.21em;
		}
	}
}



@media screen and (min-width: 320px) and (max-width: 479px) {
	.list-row-content.list-block{
		a.btn-list {
			width: 100%;
		}
	}

	.wrap-list {
		>.list-content {
			a.btn-list,
			a.doc{
				width: 100%;
			}
		}
	}
}


@media screen and (min-width: 480px) and (max-width: 700px) {
	.list-row-content.list-block{
		a.btn-list {
			width: 50%;
		}
	}

	.wrap-list {
		>.list-content {
			a.btn-list,
			a.doc{
				width: 50%;
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	#search {
		.search-row {
			width: 100%;

			>input {
				width: 70%;
			}

			button {
				width: 30%;
			}
		}
	}
}