include ../_mixin/mixin

-
    var arrFontName = [
        'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
    ];

    var arrStyleName = [
        './style/style.min.css',
        './style/_dop/owl.carousel.min.css',
        './style/_dop/owl.theme.default.css',
        './style/check.min.css'
    ];

    var scriptName = [
        './script/owl.carousel.min.js',
        './script/script.min.js'
    ];



doctype html
html
    head
        +htmlTemplateHEAD('', arrFontName, arrStyleName, false)
        script(src='./script/jquery.min.js')

    body.internal

        //- NAVIGATION MENU
        include ../_template/_dop/nav

        .wrap-container
            block sign
                include ../_template/main/form-sign


            //- BREADCRUMBS BLOCK
            block breadcrumbs
                include ../_template/check/breadcrumbs

            //- BANNER
            include ../_template/check/banner

            //- CHANCE
            include ../_template/check/chance

            //- TARIFF
            include ../_template/check/tarif

            //- CLIENT
            include ../_template/check/client

            //- REVIEWS
            include ../_template/check/review


        //- FOOTER MENU
        include ../_template/_dop/footer

        +htmlTemplateFOOT(scriptName)