include ../_mixin/mixin

-
    var arrFontName = [
        'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
    ];

    var arrStyleName = [
        './style/style.min.css',
        './style/content-info.min.css'
    ]

    var scriptName = [
        './script/jquery.min.js',
        './script/script.min.js'
    ];





doctype html
html
    head
        +htmlTemplateHEAD('', arrFontName, arrStyleName, false)

    body

        // NAVIGATION MENU
        include ../_template/_dop/nav

        block sign
            include ../_template/main/form-sign

        block navigation
            include ../_template/content-info/navigation


        block dynamic-content
            div#content.content
                include about-program


        block content-footer
            include ../_template/content-info/content-footer


        // FOOTER MENU
        include ../_template/_dop/footer

        +htmlTemplateFOOT(scriptName)