include ../_mixin/mixin

-
    var arrFontName = [
        'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
    ];

    var arrStyleName = [
        './style/style.min.css',
        './style/_dop/breadcrumbs.min.css',
        './style/content-page/content-page.min.css',
        './style/content-page/right-panel.min.css',
        './style/content-page/left-panel.min.css'
    ];

    var scriptName = [
        './script/jquery.min.js',
        './script/script.min.js'
    ];

doctype html
html
    head
        +htmlTemplateHEAD('Контентная страница', arrFontName, arrStyleName, false)

    body

        include ../_template/_dop/nav

        // BREADCRUMBS BLOCK
        block breadcrumbs
            include ../_template/content-page/breadcrumbs


        block content
            include ../_template/content-page/content


        include ../_template/_dop/footer

        +htmlTemplateFOOT(scriptName)

