include ../_mixin/mixin

-
    var arrFontName = [
        'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
    ];

    var arrStyleName = [
        './style/style.min.css',
        './style/contracts-list.min.css'
    ]

    var scriptName = [
        './script/jquery.min.js',
        './script/script.min.js'
    ];



doctype html
html
    head
        +htmlTemplateHEAD('Перечень договоров', arrFontName, arrStyleName, false)

    body.internal

        //- NAVIGATION MENU
        include ../_template/_dop/nav

        .wrap-container
            block sign
                include ../_template/main/form-sign

            //- BREADCRUMBS BLOCK
            block breadcrumbs
                include ../_template/contracts-list/breadcrumbs


            block search
                include ../_template/contracts-list/search

            block text
                include ../_template/contracts-list/text

            block list
                include ../_template/contracts-list/list

            block found
                include ../_template/contracts-list/found


        //- FOOTER MENU
        include ../_template/_dop/footer

        +htmlTemplateFOOT(scriptName)