include ../_mixin/mixin

-
    var arrFontName = [
        'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
    ];

    var arrStyleName = [
        './style/style.min.css',
        './style/_dop/breadcrumbs.min.css',
        './style/idea-details/idea-details.min.css',
        './style/idea-details/header.min.css',
        './style/idea-details/content.min.css',
        './style/idea-details/footer.min.css'
    ]

    var scriptName = [
        './script/jquery.min.js',
        './script/script.min.js'
    ];





doctype html
html
    head
        +htmlTemplateHEAD('', arrFontName, arrStyleName, false)

    body

        // NAVIGATION MENU
        include ../_template/_dop/nav

        // BREADCRUMBS BLOCK
        block breadcrumbs
            include ../_template/idea-details/breadcrumbs

        block header
            include ../_template/idea-details/header

        block content
            include ../_template/idea-details/content

        block footer
            include ../_template/idea-details/footer


        // FOOTER MENU
        include ../_template/_dop/footer

        +htmlTemplateFOOT(scriptName)