include ../_mixin/mixin

-
    var arrFontName = [
        'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
    ];

    var arrStyleName = [
        './style/style.min.css',
        './style/reviews.min.css'
    ]

    var scriptName = [
        './script/jquery.min.js',
        './script/script.min.js'
    ];



doctype html
html
    head
        +htmlTemplateHEAD('Отзывы', arrFontName, arrStyleName, false)

    body

        // NAVIGATION MENU
        include ../_template/_dop/nav

        block sign
            include ../_template/main/form-sign

        // BREADCRUMBS BLOCK
        block breadcrumbs
            include ../_template/reviews/breadcrumbs


        block content
            include ../_template/reviews/content


        // FOOTER MENU
        include ../_template/_dop/footer

        +htmlTemplateFOOT(scriptName)