-
    var rulesTitle = [
        '',
        'Термины и определения',
        'Краткое описание акции',
        'Правила акции'
    ];

    var rulesObj = {
        1: [
            'Организатор  – Закрытое акционерное общество «Производственная фирма «СКБ Контур», далее — Организатор.',
            'Продукты — программы для ЭВМ, правообладателем которых является Организатор:',
            'Услуги — услуги удостоверяющего центра, оказываемые Организатором в соответствии с Федеральным законом от 06.04.2011 № 63-ФЗ «Об электронной подписи».',
            'Организация — юридическое лицо или индивидуальный предприниматель, приобретающий Продукты и/или Услуги Организатора. К индивидуальным предпринимателям приравниваются иные лица, занимающиеся частной практикой и не являющиеся индивидуальными предпринимателями.',
            'Участник  – совершеннолетнее дееспособное физическое лицо, постоянно проживающее на территории Российской Федерации. ',
            'Бонусные баллы — баллы, которые начисляются Участнику в ходе проведения акция.',
            'Электронная подарочная карта — электронный код определенного рублевого номинала торговых сетей «Ozon», «М.Видео», «Эльдорадо», «Спортмастер», «Евросеть», «Детский мир».',
            'Партнеры Организатора — организации, предоставляющие скидки на свои Продукты и Услуги.',
            'Информационный ресурс организаторов — сайт <a href="www.kontur.ru/bonus">www.kontur.ru/bonus.</a>',
            'Личный кабинет Участника — защищенный раздел Информационного ресурса Организаторов, предназначенный для обмена информацией между Участником и Организаторами.'
        ],
        2: [
            'Акция «Контур-Бонус» позволяет Участникам копить баллы и тратить их на дополнительные скидки при приобретении Продуктов или Услуг Организатора, партнеров Организатора либо получить электронный код определенного рублевого номинала торговых сетей «Ozon», «М.Видео», «Эльдорадо», «Спортмастер», «Евросеть», «Детский мир».'
        ],
        3: [
            'Наименование акции «Контур.Бонус».',
            'Способ проведения акции:'
        ],
        4: [],
        5: [],
        6: [],
        7: [],
        8: [],
        9: []
    };

    var rulesObj1 = {
        1 : [
            'Контур.Экстерн — программа, предназначенная для организации юридически значимого электронного документооборота с контролирующими органами.',
            'Контур.Норматив — справочно-правовой веб-сервис. ',
            'Контур.Фокус - программа, предназначенная для обработки общедоступной информации об юридических лицах и индивидуальных предпринимателях.',
            'Контур.Эксперт - программа, предназначенная для проведения финансового анализа орга-низации и оценки вероятности налоговой проверки.',
            'Алкодекларация.Контур — программа, предназначенная для формирования декларации об объемах розничной продажи алкогольной и спиртосодержащей продукции и отправки ее по теле-коммуникационным каналам связи в органы, принимающие алкогольную отчетность.',
            'Контур.Диадок — программа, предназначенная для электронного документооборота с контрагентами.',
            'Контур.Школа –  удобные форматы повышения квалификации для бухгалтеров и специалистов по госзакупкам: вебинары, онлайн-курсы, семинары.',
            'Контур.Бухгалтерия — программа, предназначенная для ведения бухгалтерского учета, расчета заработной платы, отправки отчетности для организаций малого бизнеса. ',
            'Контур.Закупки — программа, предназначенная для поиска государственных и коммерческих закупок по 44-ФЗ, 94-ФЗ и 223-ФЗ.',
            'Контур.Персональные данные — программа, предназначенная для подготовки и проверки нормативной документации в соответствии с требованиями 152-ФЗ. '
        ],
        2 : [],
        3 : [
            'Негосударственная акция;',
            'Участие в акции не связано с внесением платы участниками.'
        ],
        4 : [],
        5 : [],
        6 : [],
        7 : []
    };


mixin rulesText
    - for(var i = 1; i < rulesTitle.length; i++)
        p.rules-title= i + '. ' + rulesTitle[i]

        ul.rules-list
            - for(var j = 0, counter = 1; j < rulesObj[i].length; j++, counter++)
                - var item1 = rulesObj[i];
                li!= i + '.' + counter + '. ' + item1[j]

                if (counter == 2)
                    ul.rules-internal-list
                        - for(var k = 0, counter1 = 1; k < rulesObj1[i].length; k++, counter1++)
                            - var item2 = rulesObj1[i];
                            li= i + '.' + counter + '.' + counter1 + '. ' + item2[k]


section#rules.rules
    .rules-container
        h1 Правила участия
        +rulesText

