///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";


@import "../../config/config.test";


///
/// VARIABLE BLOCK
///
$width-all              : return-value(dimension, all);

$color-white            : return-value(color, white);
$color-black            : return-value(color, black);
$color-scopeBorder      : return-value(color, scopeBorder);
$color-navBlue          : return-value(color, navBlue);


$image-header-bg        :  $config-variable + 'image/idea-details-bg.png';


///
/// HEADER SECTION
///
section.header {

  .header-container {
    @include mixinDimensions('min', $width-all, render-pixel(401));
    background: url($image-header-bg) no-repeat center;
    background-size: cover;



    .header-row {
      padding: 0;
      position: relative;
      min-height: render-pixel(401);
      @include mixinMaxWidthPosition(10.7, 0, 0);
      @include mixinCenteredBLockFlex(row, center, center);


      .video-block {
        position: relative;
        width: 60%;
        min-height: render-pixel(401);


        video.idea-video {
          position: absolute;
          top: 0; left: 0;
          @include mixinDimensions('', $width-all);
          background-color: $color-white;
        }
      }


      .info-block {
        width: 40%;
        padding-left: render-pixel(20);
      }


      .info-block {
        //position: absolute;
        //right: 0;  top: 0;
        //padding-top: $width-all - 95;
        //@include mixinDimensions('', $width-all - 70, render-pixel(401));

        [class^='block-'] {
          margin-bottom: render-pixel(15);
          display: flex;


          .left,
          .right {
          }


          .left{
            @include mixinDimensions('', render-pixel(40));
            text-align: center;
            margin-right: render-pixel(15);
          }


          .right{
            width: calc(100% - 50px);
            line-height: 1;

            p{
              margin-bottom: render-pixel(10);
            }

            p.text{
              font: {
                size: render-pixel(16.5);
              }
              color: $color-white;
            }

            p.info{
              font: {
                size: render-pixel(12.5);
              }
              color: darken($color-white, 35%);
            }
          }
        }// /-block-
      }
    }
  }// /-.header-container


  > p{
    @include mixinMaxWidthPosition(10.7, 20, 0);
    color: $color-navBlue;


    span{
      color: darken($color-white, 35%);
    }
  }
}// /-section.header