include ../../_mixin/mixin


-
    var linkName = [
        'Главная',
        'Идеи для бизнеса',
        'Все идеи'
    ];

    var linkHash = [
        '/', '/idea', ''
    ];

    var linkLine = [
        '/', '/', ''
    ];

+breadcrumbsMain('breadcrumbs', 'Все идеи')