include ../../_mixin/mixin


-
    var linkName = [
        'Главная',
        'Личный кабинет'
    ];

    var linkHash = [
        '/', '#'
    ];

    var linkLine = [
        '', ''
    ];

+breadcrumbsMain('breadcrumbs', 'Личный кабинет')