-
    var bannerTitle = 'Быстрая проверка контрагентов';
    var bannerText = 'Важнейшая информация о любой компании собрана в одном окне: данные из ЕГРЮЛ/ЕГРИП, арбитражные дела, сведения о банкротстве, выигранные госконтракты, долги фирмы по данным судебных приставов, адреса массовых регистраций и многое другое. <br/><br/> Ищите компанию по ИНН, названию, адресу или просто по фамилии руководителя. Легко просматривайте все связанные компании.';


section#banner.banner
    .banner-container
        .banner-row
            .container-text
                h1!= bannerTitle
                p!= bannerText

            .container-btn
                a(href='#', class='btn-order')!= 'Заказать проверку'
                span(class='btn-container')!= 'от <span>100</span> грн. &nbsp;<a href="#" class="btn-price">Все цены</a>'


