-
    var exampleTitle  = 'Клиенты';

    var exampleImage  = [
        '../image/check-client-0.png',
        '../image/check-client-1.png',
        '../image/check-client-2.png',
        '../image/check-client-3.png',
        '../image/check-client-4.png'
    ];


section#client.client
    .client-container
        h2= exampleTitle

        .owl-carousel.owl-theme
            - for(var i = 0; i < 5; i++)
                .internal-block
                    img(src= exampleImage[i])


script(type='text/javascript').
    $(document).ready( function() {
        var carousel = $('.owl-carousel');

        if (carousel.length > 0) {
            carousel.owlCarousel(
                    {
                        loop: true,
                        margin: 10,
                        //nav:true,
                        responsiveClass: true,
                        responsive: {
                            0: {
                                items: 2
                            },
                            768: {
                                items: 3
                            },
                            1000: {
                                items: 5
                            }
                        }
                    }
            );
        }
    });


