-
    var reviewTitle = [
        'Соловьева Ольга Александровна',
        'Соловьева Ольга Александровна',
        'Соловьева Ольга Александровна',
        'Соловьева Ольга Александровна'
    ];

    var reviewFrom = [
        'Корпоративный сайт «Адвокатское объединение»',
        'Корпоративный сайт «Адвокатское объединение»',
        'Корпоративный сайт «Адвокатское объединение»',
        'Корпоративный сайт «Адвокатское объединение»'
    ];

    var reviewText = [
        'Выражаем благодарность Вашей фирме за безукоризненное исполнение договора по разработке сайта нашей компании.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.Рекомендуем компанию Дизайн Орбита.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.',
        'Выражаем благодарность Вашей фирме за безукоризненное исполнение договора по разработке сайта нашей компании.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.Рекомендуем компанию Дизайн Орбита.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.',
        'Выражаем благодарность Вашей фирме за безукоризненное исполнение договора по разработке сайта нашей компании.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.Рекомендуем компанию Дизайн Орбита.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.',
        'Выражаем благодарность Вашей фирме за безукоризненное исполнение договора по разработке сайта нашей компании.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.Рекомендуем компанию Дизайн Орбита.Особо отличаем профессиональное, четкое и культурное выполнение своих функций сотрудниками Вашей фирмы.'
    ];


section#review.review
    .review-container
        h2 Отзывы об услуге

        .review-row
            - for(var i = 0; i < reviewTitle.length; i++)
                div(class='block-#{i}')
                    div.left-photo
                        i

                    div.right-text
                        p.name!= reviewTitle[i]
                        p.from!= reviewFrom[i]
                        p.text!= reviewText[i]

        .review-row
            a(href='reviews.html', class='btn-review-more') Смотреть все отзывы