-
    var tariffTitleMain = [
        '',
        'Базовая  проверка',
        'Расширенная  проверка',
        'Полная  проверка',
        'Выборочная  проверка',
        'Проверка  нерезидента'
    ];

    var objTariffTable = {
        0: [
            'Базовые возможности',
            '',
            '',
            '',
            '',
            ''
        ],
        1: [
            'Бухгалтерская (финансовая) отчетность',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID0" checked> <label for="checkID0"><i class="icon icon-checkbox"></i><span></span></label></div>',
            '<i class="img-choose"></i>'
        ],
        2: [
            'Поиск взаимосвязей между лицами',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID1" checked> <label for="checkID1"><i class="icon icon-checkbox"></i><span></span></label></div>',
            ''
        ],
        3: [
            'Экспресс-отчет по контрагентам',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID2" checked> <label for="checkID2"><i class="icon icon-checkbox"></i><span></span></label></div>',
            '<i class="img-choose"></i>'
        ],
        4: [
            'Финансовый анализ',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID3" checked> <label for="checkID3"><i class="icon icon-checkbox"></i><span></span></label></div>',
            '<i class="img-choose"></i>'
        ],
        5: [
            'Мобильные приложения iOS и Android',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID4" checked> <label for="checkID4"><i class="icon icon-checkbox"></i><span></span></label></div>',
            ''
        ]
    };

    var objTariffTable1 = {
        0: [
            'Расширенные источники',
            '',
            '',
            '',
            '',
            ''
        ],
        1: [
            'Арбитражные дела',
            '',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID5" checked> <label for="checkID5"><i class="icon icon-checkbox"></i><span></span></label></div>',
            '<i class="img-choose"></i>'
        ],
        2: [
            'Исполнительные производства',
            '',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID6" checked> <label for="checkID6"><i class="icon icon-checkbox"></i><span></span></label></div>',
            '<i class="img-choose"></i>'
        ],
        3: [
            'Государственные контракты',
            '',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID7" checked> <label for="checkID7"><i class="icon icon-checkbox"></i><span></span></label></div>',
            ''
        ],
        4: [
            'Товарные знаки',
            '',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID8" checked> <label for="checkID8"><i class="icon icon-checkbox"></i><span></span></label></div>',
            '<i class="img-choose"></i>'
        ],
        5: [
            'Упоминания в интернете',
            '',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID9" checked> <label for="checkID9"><i class="icon icon-checkbox"></i><span></span></label></div>',
            ''
        ],
        6: [
            'Сообщения эмитентов',
            '',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID10" checked> <label for="checkID10"><i class="icon icon-checkbox"></i><span></span></label></div>',
            '<i class="img-choose"></i>'
        ],
        7: [
            'Сообщения о банкротстве',
            '',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID11" checked> <label for="checkID11"><i class="icon icon-checkbox"></i><span></span></label></div>',
            '<i class="img-choose"></i>'
        ],
        8: [
            'Особые реестры ФНС',
            '',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID12" checked> <label for="checkID12"><i class="icon icon-checkbox"></i><span></span></label></div>',
            ''
        ],
        9: [
            'Реестр Торгово-промышленной палаты',
            '',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID13" checked> <label for="checkID13"><i class="icon icon-checkbox"></i><span></span></label></div>',
            ''
        ],
        10: [
            'Украины',
            '',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID14" checked> <label for="checkID14"><i class="icon icon-checkbox"></i><span></span></label></div>',
            '<i class="img-choose"></i>'
        ],
        11: [
            'Лицензии',
            '',
            '<i class="img-choose"></i>',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID15" checked> <label for="checkID15"><i class="icon icon-checkbox"></i><span></span></label></div>',
            '<i class="img-choose"></i>'
        ]
    };

    var objTariffTable2 = {
        0: [
            'Робота со списками организаций',
            '',
            '',
            '',
            '',
            ''
        ],
        1: [
            'Формирование собственных списков',
            '',
            '',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID16" checked> <label for="checkID16"><i class="icon icon-checkbox"></i><span></span></label></div>',
            '<i class="img-choose"></i>'
        ],
        2: [
            'Анализ взаимосвязей',
            '',
            '',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID17" checked> <label for="checkID17"><i class="icon icon-checkbox"></i><span></span></label></div>',
            ''
        ],
        3: [
            'Наблюдение за организациями в год **',
            '',
            '',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID18" checked> <label for="checkID18"><i class="icon icon-checkbox"></i><span></span></label></div>',
            '<i class="img-choose"></i>'
        ],
        4: [
            'Обмен списками',
            '',
            '',
            '<i class="img-choose"></i>',
            '<div class="checkbox-custom"><input type="checkbox", name="choose-doc", class="choose-doc", id="checkID19" checked> <label for="checkID19"><i class="icon icon-checkbox"></i><span></span></label></div>',
            ''
        ]
    };

    var objTariffTable3 = {
        0: [
            'Страна контрагента',
            'Украина',
            'Украина',
            'Украина',
            'Украина',
            '<div class="select-custom"><div class="select-value"><span></span><i></i></div><select name="country"><option value="выбрать страну" style="display: none;">выбрать страну</option><option value="Италия">Италия</option><option value="Испания">Испания</option><option value="Португалия">Португалия</option><option value="Франция">Франция</option><option value="Германия">Германия</option></select></div>'
        ]
    };

    var objTariffTable4 = {
        0: [
            '',
            '<span>1300</span> грн.',
            '<span>22000</span> грн.',
            '<span>57500</span> грн.',
            '<span>54000</span> грн.',
            '<span>85000</span> грн.'
        ]
    };

    var objTariffTable5 = {
        0: [
            '',
            '<a href="#", class="btn-order-tariff">Заказать</a>',
            '<a href="#", class="btn-order-tariff">Заказать</a>',
            '<a href="#", class="btn-order-tariff">Заказать</a>',
            '<a href="#", class="btn-order-tariff">Заказать</a>',
            '<a href="#", class="btn-order-tariff">Заказать</a>'
        ]
    };


mixin objTable(obj)
    each index, val in obj
        tr
            - for(var i = 0; i < obj[val].length; i++)
                td!= obj[val][i]


section#tariff.tariff
    .tariff-container
        h2 Тарифы

        .tariff-row
            table
                thead
                    tr
                        - for(var i = 0; i < tariffTitleMain.length; i++)
                            th!= tariffTitleMain[i]
                tbody
                    +objTable(objTariffTable)
                    +objTable(objTariffTable1)
                    +objTable(objTariffTable2)
                    +objTable(objTariffTable3)
                    +objTable(objTariffTable4)
                    +objTable(objTariffTable5)
