///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
@import "../../_extend/extend";


///
/// VARIABLE BLOCK
///
$width-all          : return-value(dimension, all);

$color-white        : return-value(color, white);
$color-black        : return-value(color, black);



/// [navigation, footer]
body{
  @extend %internalPage;
}



///
/// MAIN SECTION
///
section.content{
  min-height: render-pixel(100);
  padding: 0 0 render-pixel(50) 0 !important;
  @include mixinCenteredBLockFlex(row, flex-start, center);
}// /-section.content
