///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
@import "../../_extend/extend";


///
/// VARIABLE BLOCK
///
$width-all            : return-value(dimension, all);

$color-white          : return-value(color, white);
$color-black          : return-value(color, black);
$color-borderGray     : return-value(color, borderGray);


/// [navigation, footer]
body{
  @extend %internalPage;
}


///
/// CONTENT SECTION AJAX
///
div.content{
  min-height: render-pixel(100);
}