///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
@import "../../_extend/extend";


///
/// VARIABLE BLOCK
///
$width-all              : return-value(dimension, all);

$color-white            : return-value(color, white);
$color-black            : return-value(color, black);
$color-bgGray           : return-value(color, bgGray);
$color-gradientYellow3  : return-value(color, gradientYellow3);
$color-workBlueText     : return-value(color, workBlueText);
$color-lightBlack       : return-value(color, lightBlack);
$color-gradientYellow2  : return-value(color, gradientYellow2);
$color-gradientYellow3  : return-value(color, gradientYellow3);

$image-arrow            : '../../image/contentPage-arrow.png';
$image-mail             : '../../image/contentPage-mail.png';


///
/// CONTENT FOOTER SECTION
///
section.content-footer{
  min-height: render-pixel(100);

  .content-footer-row{
    .content-footer-block{


      &:first-of-type{
        min-height: render-pixel(215);
        background: $color-bgGray;
        text-align: center;


        .content-footer-container {
          @include mixinMaxWidthPosition(10.7, 50, 15);

          h1{
            margin-bottom: render-pixel(15);

            font: {
              size: render-pixel(35);
              weight: 300;
            }

            span{
              font-weight: 600;
            }
          }// /-h1


          a{
            display: block;
            background: $color-gradientYellow3;
            margin: 0 auto;
            text-transform: uppercase;
            color: $color-white;
            font-weight: 500;
            line-height: 2.3;
            @include mixinDimensions('normal', render-pixel(225), render-pixel(35));
          }
        }// /-.content-footer-container
      }// /-&:first-of-type


      &:last-of-type{
        .content-footer-container{
          @include mixinMaxWidthPosition(10.7, 50, 0);
          @include mixinCenteredBLockFlex(row, baseline, center);


          .content-footer-left,
          .content-footer-right{
            header{
              //display: inline-block;
              height: 50px;
            }
          }


          .content-footer-left{
            width: calc(100% - 342px);
            margin-right: render-pixel(15);

            header{
              padding-left: render-pixel(15);
              padding-right: render-pixel(15);
              @include mixinCenteredBLockFlex(row, center, space-between);


              h2{
                color: darken($color-workBlueText, 5%);
                font: {
                  size: render-pixel(27);
                  weight: 600;
                }
              }


              a{
                margin-top: render-pixel(4.5);
                text-transform: uppercase;
                font: {
                  size: render-pixel(15);
                  weight: 500;
                }
                color: darken($color-workBlueText, 5%);

                &:before{
                  content: '';
                  display: inline-block;
                  @include mixinDimensions('normal', render-pixel(25), render-pixel(17));
                  background: url($image-mail) no-repeat center;
                  background-size: contain;
                  margin-right: render-pixel(10);
                  margin-top: render-pixel(-2px);
                  vertical-align: middle;
                }
              }
            }


            section{

              .accordion{
                //overflow: hidden;
                margin-top: render-pixel(9);

                .accordion-section-title.active{
                }

                .accordion-section-title {
                  @include mixinCenteredBLockFlex(row, center, space-between);
                  width: $width-all;
                  min-height: render-pixel(47);
                  margin: render-pixel(4) 0;
                  padding: 0 render-pixel(15);
                  background: $color-white;
                  transition: all linear 0.15s;
                  font-size: render-pixel(16);
                  font-weight: 600;
                  color: $color-black;
                  text-decoration: none;
                  @include mixinBorder('all', 1px, darken($color-bgGray, 5%));


                  span{
                    display: inline-block;
                    margin: 0 render-pixel(10);
                    @include mixinDimensions('normal', render-pixel(34));
                    @include mixinLinerGradient(lighten($color-gradientYellow2, 5%), darken($color-gradientYellow2, 5%));
                    transition: .5s;

                    &:before{
                      content: '';
                      display: block;
                      @include mixinDimensions('normal', render-pixel(16), render-pixel(8));
                      background: url($image-arrow) no-repeat center;
                      background-size: contain;
                      margin: 40% auto;
                      transition: .5s;
                    }
                  }
                }// /-accordion-section-title


                .accordion-section-title.active{
                  background: lighten($color-workBlueText, 45%);
                  color: #486778;

                  span{
                    transition: .5s;

                    &:before{
                      transform: rotateX(-180deg);
                      transition: .5s;
                    }
                  }
                }


                .accordion-section-content {
                  display: none;
                  padding: render-pixel(15) render-pixel(55) render-pixel(15) render-pixel(15);
                  @include mixinBorder('all', 1px, darken($color-bgGray, 5%));
                  margin-top: render-pixel(-5);
                  font: {
                    size: render-pixel(14);
                    //weight: 600;
                  }
                  color: lighten($color-black, 40%);
                  line-height: 1.6;
                }
              }// /-accordion
            }
          }// /-.content-footer-left


          .content-footer-right{
            width: render-pixel(342);
            margin-left: render-pixel(15);


            header{
              padding-left: render-pixel(20);
              padding-right: render-pixel(20);
            }


            section{

              .list-idea{

                [class^='list-idea-'] {

                  &:first-of-type{
                    margin-top: 0;
                  }


                  cursor: pointer;
                  min-height: render-pixel(160);
                  padding: render-pixel(20);
                  margin: render-pixel(15) 0;
                  font: {
                    size: render-pixel(14);
                  }
                  transition: .3s;
                  @include mixinBorder('all', 1px, transparent);

                  p{
                    color: $color-workBlueText;
                    line-height: 1.5;
                    transition: .3s;
                    margin-bottom: render-pixel(15);
                  }

                  span{
                    color: lighten($color-lightBlack, 10%);
                  }
                }// /-list-idea-

                li{
                  &:hover{
                    @include mixinBorder('all', 1px, darken($color-bgGray, 5%));
                    transition: .3s;

                    p{
                      transition: .3s;
                      color: $color-black;
                    }
                  }
                }
              }// /-list-idea


              .btn-all-idea{
                display: block;
                background: darken($color-workBlueText, 5%);
                color: $color-white;
                text-align: center;
                line-height: 2;
                margin-left: render-pixel(20);
                @include mixinDimensions('normal', render-pixel(145), render-pixel(35));
              }
            }// /-section
          }// /-.content-footer-right
        }// /-.content-footer-container
      }// /-&:last-of-type
    }// /-.content-footer-block
  }// /-.content-footer-row
}// /-section.content-footer