///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
@import "../main/document";


///
/// VARIABLE BLOCK
///
$width-all              : return-value(dimension, all);

$color-white            : return-value(color, white);
$color-black            : return-value(color, black);
$color-workBlueText     : return-value(color, workBlueText);
$color-borderGray     : return-value(color, borderGray);


///
/// SPEND BLOCK
///
section.spend-bonus{
  .spend-bonus-container{


    h1{
      margin-bottom: render-pixel(15);

      font: {
        size: render-pixel(36);
        weight: 300;
      }
      text-transform: uppercase;
      text-align: center;
    }// /-h1


    .spend-bonus-row{

      &:first-of-type{
        margin-bottom: render-pixel(50);

        ul.spend-menu-list{
          text-align: center;

          li{
            display: inline-block;

            span.spend-btn-menu{
              cursor: pointer;
              color: $color-black;
              margin: 0 render-pixel(10);
              padding: render-pixel(5) 0;
              transition: .3s ease-in-out;
            }

            span.active{
              display: inline-block;
              color: $color-workBlueText;
              @include mixinBorder(bottom, 1px, $color-workBlueText);
              transition: .3s ease-in-out;
            }
          }
        }// /-ul.spend-menu-list
      }// /-&:first-of-type


      &:last-of-type{
        @include mixinBorder(top, 1px, $color-borderGray);


        .internal-spend-bonus-row{
          display: none;

          &.active{
            display: block;

            p{
              text-align: center;
              font: {
                weight: 300;
                size: render-pixel(18);
              }
              padding: render-pixel(10) 0;

              span{
                color: $color-workBlueText;
              }
            }
          }
        }// /-internal-spend-bonus-row


      [data-js^='exchange'],
      [data-js^='get']{
        width: $width-all;

        &:after,
        &:before{
          display: table;
          content: '';
        }


        &:after{
          clear: both;
        }


        div[class^='row-block-']{
          position: relative;
          float: left;
          @include mixinDimensions('normal', $width-all/3.2, render-pixel(490));
          @include mixinBorder('all', 1px, $color-borderGray);
          margin: render-pixel(10);
          padding: render-pixel(15);


          .row-title-block{
            padding: render-pixel(15) 0 0;
            text-align: center;
          }// /-.row-title-block


          p.title{
            margin-bottom: render-pixel(10);
            color: $color-workBlueText;
            font-weight: 600;
          }// /-p.title

          p.description{
            text-align: left;
            font-weight: 400;
            font-size: render-pixel(14);
            line-height: 1.5;
            margin-bottom: render-pixel(10);
          }// /-p.description


          .row-btn-price{
            position: absolute;
            width: calc(100% - 30px);
            bottom: render-pixel(15);
            left: render-pixel(15);
            text-align: center;
            @include mixinCenteredBLockFlex(row, center, space-between);


            span{
              font-size: render-pixel(14);

              span.price{
                font-size: render-pixel(24);
              }// /-span.price

              span.price-info{
                color: darken(lightgrey, 25%);
                font-weight: 600;
              }
            } // /-span


            >a{
              @include mixinDimensions('normal', 145px, 34px);
              background-color: $color-navBlue;
              color: $color-white;
              text-align: center;
              text-transform: uppercase;
              font-size: render-pixel(10);
              line-height: 3.4;
            }
          }// /-row-btn-price
        }// /-div[class^='row-block-']
      }// /-[data-js^='exchange']


      [data-js^='in-system']{
        section#document.document{
          min-height: render-pixel(100);

          .document-container{
            h2{
              display: none;
            }

            .document-row{
              [class^='row-block-']{
                p{
                  font-size: .875em;
                  text-align: left;
                }
              }
            }// /-.document-row
          }
        }// /-section#document.document
      }// /- [data-js^='in-system']

      }// /-&:last-of-type
    }// /-.spend-bonus-row
  }// /-.spend-bonus-container
}// /-section.spend-bonus



///
/// MEDIA QUERIES
///
@media screen and (min-width: 320px) and (max-width: 767px) {
  section#spend-bonus.spend-bonus{
    .spend-bonus-container{
      .spend-bonus-row{
        .spend-bonus-block{
          padding: render-pixel(15);


          [class^='row-block-']{
            width: $width-all;
            margin: 0 0 render-pixel(15) 0;
          }// /-row-block-
        }// /-document-row
      }// /- .spend-bonus-row
    }// /-.spend-bonus-container
  } // /-section#spend-bonus.spend-bonus
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  section#spend-bonus.spend-bonus {
    .spend-bonus-container {
      .spend-bonus-row {
        .spend-bonus-block{
          padding: 0 render-pixel(15);


          [class^='row-block-']{
            width: $width-all/2;
            margin: 0;
          }// /-row-block-
        }// /-document-row
      }// /- .spend-bonus-row
    }// /-.spend-bonus-container
  }// /-section#spend-bonus.spend-bonus
}