-
    var contentMainMenu = [
        'О программе',
        'Копить бонусные гравны',
        'Тратить бонусные гривны',
        'Правила участия'
    ];

    var contentMainMenuHash = [
        'about-program',
        'buy-bonus',
        'spend-bonus',
        'rules'
    ];

    var contentMainMenuID = [
        'about-program-content',
        'buy-bonus-content',
        'spend-bonus-content',
        'rules-content'
    ];




section#menu.menu
    .menu-container
        ul.menu-list
            - for(var i = 0; i < 4; i++)
                li: a(href='/' + contentMainMenuHash[i], id='#{contentMainMenuID[i]}')= contentMainMenu[i]

