include ../../_mixin/mixin


-
    var linkName = [
        'Главная',
        'Идеи для бизнеса'
    ];

    var linkHash = [
        '/', '#'
    ];

    var linkLine = [
        '/', ''
    ];

+breadcrumbsMain('breadcrumbs', 'Идеи для бизнеса')