include ../../_mixin/mixin

-
    var linkName = [
        'Главная',
        'Отзывы'
    ];

    var linkHash = [
        '/', '#'
    ];

    var linkLine = [
        '/', ''
    ];


+breadcrumbsMain('breadcrumbs', 'Отзывы')