///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
@import "../../_extend/extend";


///
/// VARIABLE BLOCK
///
$width-all              : return-value(dimension, all);

$color-white            : return-value(color, white);
$color-black            : return-value(color, black);
$color-gradientYellow3  : return-value(color, gradientYellow3);
$color-navBlue          : return-value(color, navBlue);
$color-scopeBorder      : return-value(color, scopeBorder);

$image-content-0        : '../image/idea-content-bg-0.png';
$image-content-1        : '../image/idea-content-bg-1.png';
$image-content-2        : '../image/idea-content-bg-2.png';
$image-play-btn         : '../image/idea-all-play.png';


/// [navigation, footer]
//body{
//  @extend %internalPage;
//}


section.idea-content {
  .idea-content-container{
    @include mixinMaxWidthPosition(10.7, 0, 0);


    h2{
      font: {
        size: render-pixel(40);
        weight: 600;
      }
      padding: render-pixel(15) 0 render-pixel(10);
      @include mixinBorder(bottom, 1px, $color-gradientYellow3);
    }// /-h2


    [class^='idea-content-row'] {
      margin: render-pixel(20) 0;


      .internal-container{
        @include mixinCenteredBLockFlex(row, flex-start, center);


        div{
          width: $width-all/2;
        }


        [class^='btn-']{
          display: block;
          background-color: $color-gradientYellow3;
          text-align: center;
          color: $color-black;
          font: {
            size: render-pixel(19.5);
            weight: 600;
          }
          line-height: 2.7;
          @include mixinDimensions('', 309px, 54px);
          transition: all .3s linear;


          &:hover {
            background-color: $color-navBlue;
          }
        }// /-btn-


        div{
          padding: render-pixel(15);

          p{
            margin-bottom: render-pixel(15);


            &.main{

            }


            &.slogan{
              padding-bottom: render-pixel(10);
            }
          }// /-p
        }// /-div
      }// /-.internal-container
    }// /-[class^='idea-content-row-']


    .idea-content-row{
      .internal-container{
        div{
          p{
            &.main{
              font: {
                size: render-pixel(22);
              }
              color: $color-black;
            }

            &.slogan{
              font: {
                size: render-pixel(19);
              }
              color: $color-navBlue;
            }
          }// /-p


          &.right{
            p.slogan{
              @include mixinBorder(bottom, 1px, $color-scopeBorder);
            }
          }// /-.right
        }// /-div
      }// /-.internal-container
    }// /-.idea-content-row


    [class^='idea-content-row-bg-'] {
      padding: render-pixel(20);
      @include mixinDimensions('', $width-all, render-pixel(444));


      h2{
        font: {
          size: render-pixel(33);
        }
        color: $color-white;
      }// /-h2

      .internal-container{
        div{
          p{
            &.main{
              font: {
                size: render-pixel(21);
              }
              color: $color-white;
            }

            &.slogan{
              font: {
                size: render-pixel(18);
              }
              color: $color-gradientYellow3;
            }
          }// /-p


          &.right{
            .list{

              li{
                margin-bottom: render-pixel(10);
              }

              p{
                margin-bottom: render-pixel(5);

                &.main{
                  font: {
                    size: render-pixel(19);
                  }
                }
              }
            }
          }
        }// /-div
      }
    }// /-[class^='idea-content-row-bg-']


    @each $className, $imageName in
            (0, $image-content-0),
            (1, $image-content-1),
            (2, $image-content-2) {
      .idea-content-row-bg-#{$className}{
        background: url($imageName) no-repeat center;
        background-size: cover;
      }
    }
  }// /-.idea-content-container


  .idea-content-container-more{
    @include mixinMaxWidthPosition(10.7, 10, 0, 20);


    >h2{
      font: {
        size: render-pixel(31);
        weight: 400;
      }
      text-align: center;
      padding-bottom: render-pixel(10);
      @include mixinBorder(bottom, 1px, $color-scopeBorder);
    }


    .idea-content-row{
      padding: render-pixel(20) 0;
      display: flex;
      //align-items: flex-start;
      justify-content: center;
      flex-flow: row wrap;
      align-content: center;


      [class^='block-'] {
        width: $width-all - 70;
        margin: render-pixel(10);
        //margin-right: render-pixel(22);
        //margin-bottom: render-pixel(22);
        border: 1px solid $color-scopeBorder;

        div{
          &.info-block,
          &.dop-block{
            padding: render-pixel(7.5) render-pixel(15);
          }


          &.video-block{
            position: relative;

            img.img-responsive{
              max-width: $width-all;
              height: auto;
              display: block;
            }

            a.btn-play{
              @include mixinCenteredBLockAbsolute(0,0,0,0);
              background: url($image-play-btn) no-repeat center;
            }
          }


          &.info-block{
            h2{
              font: {
                size: render-pixel(16);
                weight: 600;
              }
              min-height: render-pixel(60);
            }

            p{
              margin-bottom: render-pixel(10);
              color: darken($color-scopeBorder, 45%);
            }

            p.price{
              padding-bottom: render-pixel(20);
              border-bottom: 1px solid $color-scopeBorder;
            }
          }

          &.dop-block{
            padding: 0 render-pixel(15) render-pixel(20);

            a{
              font-size: render-pixel(15.5);
              color: $color-navBlue;
            }
          }
        }
      }// /-[class^='block-']

      .btn-load-more {
        padding: render-pixel(30) 0 0;
        font: {
          size: render-pixel(22.5);
          weight: 400;
        }
        text-decoration: underline;
        text-transform: uppercase;
        color: $color-navBlue;
      }// /-btn-load-more
    }
  }// /-.idea-content-container-more
}// /-section.idea-content