include ../../_mixin/mixin


-
    var linkName = [
        'Главная',
        'Конструктор договоров',
        'Перечень договоров'
    ];

    var linkHash = [
        '/', '#', '#'
    ];

    var linkLine = [
        '/', '/', ''
    ];

+breadcrumbsMain('breadcrumbs', 'Перечень договоров')