-
    var listLink = [
        'Договоры доверительного управления управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления'
    ];

    var listInternalLink = [
        'Договоры доверительного управления доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления',
        'Договоры доверительного управления'
    ];


section#list.list
    .list-container
        h2!= 'ДОГОВОРЫ'

        .list-row-btn
            a(href='#', class='btn-list-change')
                img(src='./image/icon-list.png', class='img-list')

            a(href='#', class='btn-block-change')
                img(src='./image/icon-block.png', class='img-block')

        .list-row-content
            - for(var i = 0; i < listLink.length; i++)
                div(class='block-#{i}')
                    a(href='#section-#{i}', class='btn-choose-contract')!= listLink[i]

                    .wrap
                        ul(id='section-#{i}', class='list-item')
                            -for(var j = 0; j < listInternalLink.length; j++)
                                li: a(href='#', class='btn-internal-contract')!= listInternalLink[j]