
section#search.search
    .search-container
        .search-row
            input(type='text', name='search', placeholder='Укажите название договора')
            button(type='button', class='btn-search-contract')!= 'Поиск'
            p(class='help-block help-block-error')!= ''

        p.example!= 'Например: Довогор о сотрудничестве (партнёрстве)'
