-
    var text = 'В разделе представлены образцы и примеры всех видов договоров для скачивания и подробно описаны особенности каждого из них. В разделе представлены образцы и примеры всех видов договоров для скачивания. В разделе представлены образцы и примеры всех видов договоров для скачивания и подробно описаны особенности каждого из них. Здесь представлены образцы и примеры всех видов договоров для скачивания и подробно описаны особенности каждого из них.';


section#text.text
    .text-container
        p!= text