include ../../_mixin/mixin


-
    var linkName = [
        'Главная',
        'Возможности'
    ];

    var linkHash = [
        '#', '#'
    ];

    var linkLine = [
        '', ''
    ];

+breadcrumbsMain('breadcrumbs', 'Возможности')