include ../../_mixin/mixin


-
    var linkName = [
        'Главная',
        'Возможности'
    ];

    var linkHash = [
        '/', '#'
    ];

    var linkLine = [
        '/', ''
    ];


-
    var imagePath = [
        '../image/scope-0.png',
        '../image/scope-1.png',
        '../image/scope-2.png',
        '../image/scope-3.png',
        '../image/scope-4.png',
        '../image/scope-5.png',
        '../image/scope-6.png',
        '../image/scope-7.png'
    ];

    var contentTitle = [
        '15 минут - и всё готово',
        'Сокращение затрат на 95%',
        'Только актуальные документы',
        'Подсказки',
        'Автозаполнение',
        'Без ошибок',
        'Безопасность личных данных',
        'Отсутствие ограничений'
    ];

    var objText = {
        0 : [
            'Даже если Вы никогда ранее не сталкивались с процедурой регистрации фирмы или оформлением ИП, процесс подготовки документов в нашей системе займёт у вас не более 15 минут.'
        ],
        1 : [
            'Сервис предоставляет только юридически проверенные документы, подготовленные и отработанные профессиональными регистраторами с многолетним опытом регистрации.'
        ],
        2 : [
            'Документы для регистрации ИП и документы для открытия ООО, используемые в сервисе, подготовлены профессиональными регистраторами в соответствии с требованиями законодательства и регистраторской практикой.'
        ],
        3 : [
            'Почти на каждой странице есть подсказки, разъясняющие пользователю , что ему необходимо сделать и для чего. Благодаря им процесс создания комплекта документа становится простым и понятным.'
        ],
        4 : [
            'В целях упрощения ввода сложных массивов данных и минимизации возможных ошибок в системе реализованы механизмы упрощённого ввода адресов, автопоиска реквизитов ИФНС, подготовки платёжных квитанции, а также функции автозаполнения повторяющихся либо введённых во время предыдущих регистраций данных.'
        ],
        5 : [
            'Более чем в 90% отказов в регистрации ООО или ИП причиной отказа являются незначительные ошибки, допущенные из-за невнимательности либо неаккуратности лица, подготовившего пакет документов («человеческий фактор»). Создавая документы в нашем сервисе, вы бережёте не только своё время, но также ограждаете себя от «нелепых случайностей» на полях документов, ведущих к отказу.'
        ],
        6 : [
            'Мы гарантируем сохранность и конфиденциальность вводимых паспортных данных, т.к.:',
            'Любые сохранённые в личном кабинете данные пользователя доступны только пользователю, т.к. хранятся в зашифрованном виде и не доступны даже разработчикам системы.',
            'Соединение пользователя с серверами Regberry защищается расширенным SSL-сертификатом, о чём свидетельствует зелёная строка Вашего браузера.',
            'Система производит зашифрованное резервное копирование данных пользователей в целях недопущения их распространения из резервных копий.',
            'Если пользователь удаляет какую-либо часть своих данных либо все данные о себе, они удаляются полностью и восстановлению не подлежат.'
        ],
        7 : [
            'Зарегистрированному пользователю предоставляется полноценный функционал системы без каких-либо ограничений как по количеству документов, так и по времени пребывания в системе.'
        ]
    };


section#content.content
    .content-container
        .content-header
            h2 Возможности
            +breadcrumbsPanel(linkName, linkHash, linkLine)

        .content-section
            - for(var i = 0; i < 8; i++)
                div(class='block-#{i}')
                    div(class='block-left')
                        img(src= imagePath[i], class='img-responsive')

                    div(class='block-right')
                        p= contentTitle[i]

                        ul.block-list
                            - for(var j = 0; j < objText[i].length; j ++)
                                - var item = objText[i];
                                li: span= item[j]

