include ../../_mixin/mixin


-
    var linkName = [
        'Главная',
        'О проекте'
    ];

    var linkHash = [
        '/', '#'
    ];

    var linkLine = [
        '', ''
    ];

+breadcrumbsMain('breadcrumbs', 'О проекте')