-
    var tryTitle = 'Попробуй. Стань профессионалом в создании документов';

section#try.try
    .try-container
        h2= tryTitle
        span!= 'при регистрации Вы получаете' + '<a href="#", class="try-btn-price"> 100 грн. </a>'

        a(href='#', class='try-btn-main')= 'Попробовать'