///
/// IMPORT BLOCK
///
@import "_mixin/mixin";
@import "_function/function";
@import "_extend/extend";
@import "_template/_dop/nav";
@import "_template/_dop/footer";
@import "./_template/main/form-sign";


///
/// VARIABLE BLOCK
///
$width-all        : return-value(dimension, all);

$color-white      : return-value(color, white);
$color-navBlue    : return-value(color, navBlue);
$color-yellow     : return-value(color, yellow);
$color-borderGray : return-value(color, borderGray);
$color-scopeBorder      : return-value(color, scopeBorder);
$color-navBlue      : return-value(color, navBlue);

$font             : 'Open Sans';


///
/// MAIN BLOCK
///
body,
html{
  @include mixinDimensions('normal', $width-all);
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  line-height: 1.42857143;
  //font-weight: normal;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $color-white;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

p,
h1,
h2{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;

  li{
    list-style: none;
  }
}

a{
  outline: none;
  text-decoration: none;
  color: #222;

  &:focus {
    outline: none;
  }
}

button {
  outline: none;
  border: none;
}

section{
  .owl-carousel {
    .owl-dots {
      margin-top: render-pixel(20) !important;
      display: block !important;
    }
  }
}

.btn-primary {
  display: block;
  font-size: render-pixel(14.5);
  @include mixinDimensions('', 195px, 40px);
  background-color: $color-navBlue;
  transition: all .3s linear;
  color: $color-white;
  text-align: center;
  line-height: 2.6;


  &:hover {
    background-color: $color-yellow;
  }
}

body.form-open {
  transition: all 1s ease-in-out;
  overflow: hidden;
  height: initial;


  &:before{
    content: '';
    position: absolute;
    top: 0;  left: 0;
    @include mixinDimensions('', $width-all);
    background-color: rgba(0,0,0,0.4);
    z-index: 10000;
  }
}


/// [navigation, footer]
body.internal {
  @extend %internalPage;

  position: relative;

  display: flex;
  flex-direction: column;


  .wrap-container {
    flex: 1;
  }
}


#content{
  @include mixinMaxWidthPosition(10.7, 30, 0);
}



p.help-block.help-block-error {
  color: red;
  font-size: render-pixel(12);
}

.has-error {
  input,
  textarea{
    border: 1px solid red !important;
  }
}


input.form-control {
  display: inline-block;
  padding: 0 render-pixel(15);
  font-style: italic;
  font-size: render-pixel(15);
  outline: none;
  @include mixinDimensions('', 365px, 38px);


  &:focus,
  &:active {
    box-shadow: 0 0 5px 1px rgba($color-black, 0.2);
  }
}


#document-content {
  * {
    font: {
      size: 14px;
      family: $font;
    }
  }
}

#protectFromCopy {
  a.btn.payCopingLink{
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
    background-color: $color-navBlue;
    color: $color-white;
    font: {
      size: 13px;
      weight: 600;
    }
    text-transform: uppercase;
  }
}



///
/// ANIMATION CLASS
///
.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
}
.animated.infinite {
  animation-iteration-count: infinite;
}
.hiddenAnimated{
  opacity: 0;
}
.visiblyAnimated{
  opacity: 1;
}


@media screen and  (max-width: 767px){
  body.internal {
    display: block;
  }
}